{% load staticfiles %}
{% load block_render_tags i18n %}
<div class="textblock maps">
    <div class="mappart">
    </div>
    <h2>{% trans 'Как добраться' %}</h2>
    <p><b>{% trans 'Адрес' %}:</b><br>
    Санкт-Петербург, Петербургское шоссе, 206, корпус 1, 2, 3, 4, 5 и 6</p>
    <p class="mapbtn"><a href="https://www.google.com/maps/" class="yellowbutton">Проложить маршрут</a><br>
    <span class="small">На базе сервиса <a href="#">Google.Maps</a></span></p>
    <p>Распечатать схему с вариантами проезда (PDF) </p>
    <p class="probki"><span class="lvl5 probkirate">5</span>
    Уровень пробок в Санкт-Петербурге<br>по данным сервиса <a href="#">Яндекс.Пробки</a></p>
    <p class="copasicon">Координты местоположения:<br>59°45'23.17"N 30°21'56.96"E</p>
</div>
<div class="textblock">
    <h2>Как добраться на машине</h2>
    <img src="{% static "images/map1.jpg" %}" alt="Карта" class="leftimg">
    <p>Описание последовательностей маршрута при проезде на машине из некой точки или с разных направлений ключевых магистралей. С пояснениями про развязки.</p>
    <p>Предложение проложить маршрут с помощью специализированных сервисов:</p>
    <p><a href="#">Маршрут проезда на Google Maps</a></p>
    <p><a href="#">Маршрут с помощью приложения на вашем устройстве</a></p>
    <p><a href="#">Схемы движения транспорта по территории парковки</a></p>
</div>
<div class="textblock">
    <h2>Как добраться на общественном транспорте <a href="#" class="small rightlink">Проложить маршрут на Google.Maps</a></h2>
    <div class="accordion closed">
        <h3 class="accordiontitle">Метро Купчино</h3>
        <div class="accordiontext">
            <h4>Посадка на площади возле памятника Троцкому</h4>
            <img src="{% static "images/photo2.jpg" %}" alt="photo2" class="leftimg">
            <div class="righttextblock">
                <p class="busicon">36, 88, 149, 8А</p>
                <p class="furgonicon">К-80, К-133, К-209</p>
            </div>
        </div>
    </div>
    <div class="accordion">
        <h3 class="accordiontitle">Метро Московская</h3>
        <div class="accordiontext">
            <h4>Посадка со стороны Макдональдса</h4>
            <img src="{% static "images/photo1.jpg" %}" alt="photo1" class="leftimg">
            <div class="righttextblock">
                <p class="busicon">Бесплатный шатл-бас до Экспофорума</p>
                <ul class="bustime">
                    <li>Интервал движения:</li>
                    <li>пн-пт — каждые 30 мин.</li>
                    <li>сб, вс — каждый час</li>
                    <li>в дни проведения выставок каждые 15 мин.</li>
                </ul>
                <p class="busicon">36, 88, 149, 8А</p>
                <p class="trallicon">11, 3</p>
                <p class="furgonicon">К-80, К-133, К-209</p>
            </div>
        </div>
        <div class="accordiontext">
            <h4>Посадка на площади возле памятника Троцкому</h4>
            <img src="{% static "images/photo2.jpg" %}" alt="photo2" class="leftimg">
            <div class="righttextblock">
                <p class="busicon">36, 88, 149, 8А</p>
                <p class="furgonicon">К-80, К-133, К-209</p>
            </div>
        </div>
    </div>
</div>