{% load block_render_tags i18n thumbnail %}
<div class="{{class}}">
    <h3 class="accordiontitle">{% render_locale_title request value %}</h3>
    {% for bl in value.blocks.all %}
    <div class="accordiontext">
        <h4>{% render_locale_title request bl %}</h4>
        {% if bl.ru_image %}
            {% thumbnail bl.ru_image 320x200 upscale as thumb %}
            <a href="{{bl.ru_image.url}}" class="fancybox"><img src="{{thumb.url}}" alt="" class="leftimg"></a>
        {% endif %}
        <div class="righttextblock">
            {% for bus in bl.buses.all %}
                {% get_locale_attr_val request bus 'name' as bus_name %}
                <p class="{{bus.tp}}">{{bus_name}}</p>
                {% get_locale_attr_val request bus 'desc' as bus_desc %}
                {{bus_desc|safe}}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>