{% extends "admin/change_form.html" %}


{% block extrajs %}
{{ block.super }}
<!--INJECT:plan_editor_js--><script src='/static/plans/js/plan_editor_1416919965917.js'></script><!--END INJECT-->
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<!--INJECT:plan_editor_css--><link rel='stylesheet' type='text/css' href='/static/plans/css/plan_editor_1416919965917.css'><!--END INJECT-->
{% endblock %}

{% block after_related_objects %}
<div id="js-plan_editor">
  <div id="js-plan_editor-breadcrumbs"></div>
  <div id="js-plan_editor-main"></div>
</div>
{% endblock %}
