{% extends 'object_detail.html' %}

{% load staticfiles %}
{% load block_render_tags i18n %}
{% load url from future %}
{% load staticfiles %}

{% block headextrascripts %}
{{ block.super }}
<!--INJECT:plan_show_css--><link rel='stylesheet' type='text/css' href='/static/plans/css/plan_show_1416919965916.css'><!--END INJECT-->
{% endblock %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext">
                {% if kvcplan and kvcplan.cur_image_url %}
                    <a class="fancybox" href="{% render_locale_field request kvcplan 'cur_image_url' %}">
                {% else %}
                <a class="fancybox" href="{% static "images/planKVC_ru.png" %}">
                {% endif %}
                    <img src="{% static "images/scheme.png" %}" alt="План территории Конгрессно-выставочного центра">
                </a>
                <p>{% trans 'План территории Конгрессно-выставочного центра' %}</p>
            </section>
        </div>
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock"><div id="js-map" class="map"></div></div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script charset="utf-8">
  var staticPath = {{ STATIC_URL }} +'plans';
  var languageCode = '{{ LANGUAGE_CODE }}';
</script>
<!--INJECT:plan_show_js--><script src='/static/plans/js/plan_show_1416919965916.js'></script><!--END INJECT-->
{% endblock %}
