{% extends 'object_detail.html' %}

{% load staticfiles %}
{% load block_render_tags i18n %}
{% load url from future %}
{% load staticfiles %}

{% block headextrascripts %}
{{ block.super }}
<!--INJECT:plan_zoomify_css--><link rel='stylesheet' type='text/css' href='/static/plans/css/zoomify_1416919965917.css'><!--END INJECT-->
{% endblock %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
    </div>
    <div class="mainblock"><div id="js-map" class="map"></div></div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<!--INJECT:plan_zoomify_js--><script src='/static/plans/js/zoomify_1416919965917.js'></script><!--END INJECT-->
{% endblock %}
