﻿{% extends 'basecontent.html' %}

{% load staticfiles %}
{% load block_render_tags i18n thumbnail %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext">
                {% if kvcplan and kvcplan.cur_image_url %}
                    <a class="fancybox" href="{% render_locale_field request kvcplan 'cur_image_url' %}">
                {% else %}
                <a class="fancybox" href="{% static "images/planKVC_ru.png" %}">
                {% endif %}
                    <img src="{% static "images/scheme.png" %}" alt="План территории Конгрессно-выставочного центра">
                </a>
                <p>{% trans 'План территории Конгрессно-выставочного центра' %}</p>
            </section>
        </div>
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
    {% if detail_page %}
        <div class="textblock maps">
            {% if detail_page.has_map %}<div class="mappart" id="mappart"></div>{% endif %}
            <h2>{% render_locale_title request detail_page %}</h2>
            {% render_locale_content request detail_page %}
            <p class="probki"><span class="lvl5 probkirate"></span></p>
        </div>
        {% if detail_page.autoblock %}
        <div class="textblock">
            <h2>{% render_locale_title request detail_page.autoblock %}</h2>
            {% get_locale_attr_val request detail_page.autoblock 'image' as autoblock_image %}
            {% if autoblock_image %}
                {% thumbnail autoblock_image 320x200 upscale as thumb %}
                <a href="{{autoblock_image.url}}" class="fancybox"><img src="{{thumb.url}}" alt="" class="leftimg"></a>
            {% elif detail_page.autoblock.ru_image %}
                {% thumbnail detail_page.autoblock.ru_image 320x200 upscale as thumb %}
                <a href="{{detail_page.autoblock.ru_image.url}}" class="fancybox"><img src="{{thumb.url}}" alt="" class="leftimg"></a>
            {% endif %}
            {% render_locale_content request detail_page.autoblock %}
        </div>
        {% endif %}

        {% if detail_page.traffblock %}
        <div class="textblock">
            <h2>{% render_locale_title request detail_page.traffblock %}</h2>
            {% for accbl in detail_page.traffblock.acc_blocks.all %}
                {% if forloop.first %}
                    {% include 'partial/howto_traff_accblock.html' with value=accbl class='accordion' %}
                {% else %}
                    {% include 'partial/howto_traff_accblock.html' with value=accbl class='accordion closed' %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% else %}
        {% include 'partial/default_howtopage.html' %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block headextrascripts %}
{{block.super}}
    {% if detail_page.has_map %}
    <style>
        #mappart {
            width: 590px;
            height: 450px;
        }
    </style>
    {% if LANGUAGE_CODE == 'ru' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'en' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'zh-cn' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var mylocation = [59.87, 30.32];
            var geolocation = ymaps.geolocation;
            var myMap = new ymaps.Map('mappart', {
                    center: mylocation,
                    zoom: 10,
                    controls: ['fullscreenControl', 'searchControl', 'zoomControl'],
                });

            var expoforumMarker = new ymaps.Placemark([59.76351, 30.35746], {}, {
              iconLayout: 'default#image',
              iconImageHref: '/static/images/howto/map_red_e_50x85.png',
              iconImageSize: [50, 85],
              iconImageOffset: [-25,-70]
            });

            myMap.geoObjects.add(expoforumMarker);

        }
    </script>
    {% endif %}
    <script type="text/javascript">
        function get_probki_data() {
            var url = '{% url 'base:get_yandex_probki' %}'
            $.ajax({
                url: url,
                success: function( data ) {
                    $('p.probki').remove();
                    $('div.textblock.maps').append('<p class=\"probki\"><span class=\"lvl5 probkirate\">'+data+'</span>{% trans 'Уровень пробок в Санкт-Петербурге<br>по данным сервиса Яндекс.Пробки' %}</p>')
                }
            });
        };
        $(document).ready(get_probki_data());
    </script>
{% endblock %}
