/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}

/*Main template styles*/
html{
    min-height:100%;
    text-align:center;
    min-width:320px;
    position:relative;
    }
body{
    height:auto;
    padding:0 0 75px 0;
    font-family:arial,helvetica,sans-serif;
    font-style:normal;
    color:#ffffff;
    font-size:14px;
    line-height:20px;
    background:#373636;
    }

p,ul,ol{
    margin:0 0 .5em 0;
    padding:0;
    text-align:left;
    }
ul,ol{
    padding:0 0 0 0px;
    margin:0 0 1em 1.5em;
    }

h1,h2,h3,h4,h5,h6{
    margin:1em 0;
    text-align:left;
    font-weight:normal;
    }
h1{
    font-size:26px;
    line-height:30px;
    }
h2{
    font-size:24px;
    line-height:20px;
    }
h3{
    font-size:22px;
    line-height:28px;
    }
h4{
    font-size:16px;
    line-height:20px;
    }
h5{
    font-size:12px;
    line-height:20px;
    }
h6{
    font-size:12px;
    line-height:18px;
    margin:0;
    }

b,strong{
    font-weight:bold;
    }
i,em{
    font-style:italic;
    }
time{
    font-style:normal;
    font-weight:bold;
    }
u{
    text-decoration:underline;
    }

td{
    vertical-align:top;
    }

a{
    color:#ffffff;
    text-decoration:underline;
    }
a:hover{
    color:#ffffff;
    text-decoration:none;
    cursor:pointer;
    }
input{
    box-sizing:content-box;
    }
input,textarea,button{
    font-family:arial,helvetica,sans-serif;
    }
input::-webkit-input-placeholder {
    font-style:italic;
    color:#666666;
    }
input::-moz-placeholder {
    font-style:italic;
    color:#666666;
    }
.hidden{
    display:none;
    visibility:hidden;
    }
.clear{
    float:none;
    clear:both;
    overflow:hidden;
    padding:1px 0;
    }
.required,
.error{
    color:#f00;
    }
.errorlist{
    list-style:none;
    color:#f00;
    }
.center{
    text-align:center;
    }
.container{
    min-width:320px;
    margin:0 auto;
    }
.small{
    font-size:0.8em;
    }
    h2 .small{
        font-size:0.6em;
        }
.rightlink{
    float:right;
    }
.pseudolink{
    text-decoration:none;
    border-bottom:1px dashed;
    cursor:pointer;
    }
    .pseudolink:hover{
    text-decoration:none;
    border-bottom:0;
    }
.gray{
    color:#999999;
    }
/*Header*/
header{
    background:url(../images/design/bgtopnav.png) left center no-repeat #2dccd3;
    height:54px;
    }
.headlogo{
    width:150px;
    height:32px;
    padding:12px 15px 0 20px;
    float:left;
    }
.headcontacts{
    width:130px;
    padding:18px 0 12px 0;
    float:left;
    text-align:left;
    }
    .heademail{
        display:block;
        padding:5px 0 5px 40px;
        margin:0 20px;
        text-align:left;
        background:url(../images/design/iconemail.png) left center no-repeat;
        }
.headmenu{
    display:block;
    height:37px;
    float:left;
    padding:17px 0 0 10px;
    }
    .headmenu ul{
        display:block;
        list-style:none;
        }
        .headmenu ul li{
            display:inline;
            }
            .headmenu a{
                font-weight:bold;
                padding:0 10px;
                }
            .headmenu a:hover,
            .headmenu a.active{
                text-decoration:none;
                }
.mainblock{
    margin:0 0 0 310px;
    }
    .textblock{
        padding:5px 20px;
        margin:0 0 10px 0;
        }
    .textblock h2{
        margin:0.5em 0;
        }
        .accordiontitle{
            padding:11px 60px 11px 20px;
            font-size:20px;
            margin:1px 0;
            background:url(../images/design/arrowaccord.png) right -52px no-repeat #e6e6e6;
            cursor:pointer;
            color:#323232;
            line-height: 20px;
            }
        .closed .accordiontitle{
            background:url(../images/design/arrowaccord.png) right -1px no-repeat #e6e6e6;
            }
        .accordiontext{
            overflow:hidden;
            padding:0;
            }
        .closed .accordiontext{
            display:none;
            }
.infobanner{
    background:#2dccd3;
    padding:0;
    margin:0;
    height:288px;
    min-width:287px;
    }
    .infobannerimg{
        display:block;
        min-width:287px;
        height:140px;
        background:#ffffff center center no-repeat;
        }
        .infobannerimg img{
            display:none;
            }
    .infobannertext{
        padding:10px 20px;
        height:105px;
        overflow:hidden;
        }
        .infobannertext h3{
            font-size:20px;
            margin:0;
            }
    .infobannertext time{
		font-size:110%;
		font-weight:bold;
		}
        .infobannertext p{
            font-size:13px;
            line-height:18px;
            margin:4px 0;
            }
    .greenbanner{
        background:#84bd00;
        }
    .lightbluebanner{
        background:#2dccd3;
        }
    .bluebanner{
        background:#0072ce;
        }
    .bannerslist{
        display:block;
        padding:0;
        margin:0;
        min-height:280px;
        width:auto;
        position:relative;
        list-style:none;
        }
        .bannerslist > li{
            display:block;
            }
.planlink{
    display:block;
    height:40px;
    text-align:left;
    padding:15px 20px 15px 80px;
    margin:15px 0;
    color:#ffffff;
    text-decoration:none;
    background:url(../images/design/iconslinks.png) 20px 10px no-repeat #0072ce;
    }
.planblock{
    display:block;
    height:307px;
    margin:0 auto 20px auto;
    position:relative;
    background:#ffffff;
    }
    .resizelink{
        border:0 none;
        border-radius:3px;
        box-shadow:0.5px 4px 0 #2dccd3;
        font-size:0;
        cursor:pointer;
        width:36px;
        height:36px;
        background:url(../images/design/resize.png) center center no-repeat #2dccd3;
        position:absolute;
        top:10px;
        right:10px;
        z-index:100;
        }
	.resizelink.orange{
		box-shadow:0.5px 4px 0 #eb9307;
		background:url(../images/design/resize.png) center center no-repeat #efa908;
		}
    .layers{
        display:block;
        margin:0;
        padding:0;
        list-style:none;
        }
        .layer{
            display:none;
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            color:#000;
            }
        .layer.active{
            display:block;
            }
    .layersbtns{
        display:block;
        margin:0;
        padding:0;
        list-style:none;
        position:absolute;
        left:10px;
        bottom:0px;
        z-index:99px;
        }
        .layersbtns > li{
            display:block;
            margin:0 0 10px 0;
            }
            .layersbtns a.button{
                margin:0;
                width:50px;
                }
.button{
    background:#0089d8;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0.5px 4px 0 #0072ce;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    height: 36px;
    margin: 0 0 0 4px;
    padding: 5px;
    }
    a.button{
        display:block;
        padding: 5px 15px;
        text-decoration:none;
        height:22px;
        line-height:26px;
        }
.button.lightblue{
    box-shadow:0.5px 4px 0 #2dccd3;
    background:#36d6dc;
    }
.button.orange{
    box-shadow:0.5px 4px 0 #eb9307;
    background:#efa908;
    }
    .probki{
        font-size:0.9em;
        line-height:1.3em;
        padding:10px 0;
        margin:2em 0;
        }
        .probki .probkirate{
            display:block;
            margin:-8px 12px 0 0;
            height:50px;
            width:50px;
            float:left;
            font-size:2.5em;
            line-height:50px;
            text-align:center;
            border-radius:50%;
            }
            .lvl5{
                background:#eb9307;
                }
.mappart{
	display:block;
    height:307px;
	}
.mapblock{
    display:block;
    height:307px;
    margin:0 auto 20px auto;
    position:relative;
    background:#ffffff;
    }
.bustime{
    margin:0px 0 20px 80px;
    line-height:1.3em;
    list-style:none;
    }
.busicon{
    font-weight:900;
    padding:2px 0 3px 49px;
    margin:6px 0 0 0;
    background:url(../images/design/iconstransport.png) 0px 0px no-repeat;
    }
.trallicon{
    font-weight:900;
    padding:12px 0 3px 49px;
    margin:6px 0 0 0;
    background:url(../images/design/iconstransport.png) 0px -30px no-repeat;
    }
.furgonicon{
    font-weight:900;
    padding:2px 0 3px 49px;
    margin:6px 0 0 0;
    background:url(../images/design/iconstransport.png) 0px -78px no-repeat;
    }
.events{
    padding:0;
    background:transparent;
    color:#ffffff;
    font-size:1.1em;
    }
    .events h2{
        font-size:1.7em;
        margin: 0.2em 0 1em 0;
        }
    .eventsearch,
    .footersearch{
        position:relative;
        min-height:35px;
        }
        .eventsearch input,
        .footersearch input,
        .textblock .eventsearch input{
            padding:0px 25px 0px 5px;
            width:166px;
            height:30px;
            margin:2px 0 0 0;
            float:left;
            line-height:30px;
            background:#ffffff;
            color:#666666;
            border:0 none;
            border-radius:3px;
            }
            .searchbtnicon{
                display:block;
                width:30px;
                height:30px;
                font-size:0;
                border:0 none;
                position:absolute;
                left:168px;
                top:2px;
                cursor:pointer;
                background:url(../images/design/iconsearchdark.png) center center no-repeat;
                }
        .eventsearch .bluebtn,
        .footersearch .bluebtn{
            display:block;
            padding:7px 16px;
            float:left;
            width:62px;
            margin:0 0 0 14px;
            background:#02589b;
            color:#ffffff;
            text-decoration:none;
            font-family:arial;
            font-weight:bold;
            border:0 none;
            border-radius:3px;
            box-shadow:0 4px 0 #053861;
            }
    .footersearch{
        margin:10px 20px;
        }
.textblock form{
    text-align:left;
    }
.textblock input,
.modalbox.white input{
    padding:0px 5px 0px 5px;
    margin:0.5em 0 1em 0;
    width:390px;
    height:30px;
    line-height:30px;
    background:#ffffff;
    color:#666666;
    border:1px solid #cccccc;
    border-radius:3px;
    }
.textblock .multiselects input{
    width:auto;
    }
.textblock textarea,
.modalbox.white textarea{
    padding:0px 25px 0px 5px;
    margin:0.5em 0 1em 0;
    width:370px;
    line-height:30px;
    background:#ffffff;
    color:#666666;
    border:1px solid #cccccc;
    border-radius:3px;
    }
.textblock select,
.textblock .ffSelectWrapper,
.modalbox.white .ffSelectWrapper{
    width:402px;
    margin:0.5em 0 1em 0;
    height:30px;
    }
.textblock .ffSelect,
.modalbox.white .ffSelect{
    border:1px solid #cccccc;
    border-radius:3px;
    height:29px;
    }
.textblock .ffSelect > a > span{
    color:#666666;
    height:29px;
    background:#ffffff;
    }
.modalbox.white .ffSelect > a > span{
    background:none;
    color:#666666;
    }
.textblock label,
.modalbox.white label{
    display:block;
    }
    .textblock  .eventdate{
        width:205px;
        height:45px;
        float:left;
        }
        .textblock  .eventdate label{
            width:auto;
            float:left;
            }
    .dateui.white{
        padding:0px 55px 0px 5px;
        width:115px;
        height:32px;
        margin:2px 0 0 0;
        float:left;
        line-height:30px;
        background:url(../images/design/icondatepickwhite.png) left 0px no-repeat #ffffff;
        color:#666666;
        border:0 none;
        border-radius:0;
        }
.textblock .ffCheckboxWrapper a{
    color:#333333;
    }
.stroked{
    background:url(../images/design/whitestroked.png) left center repeat-x;
    }
    .stroked span{
        background:#ffffff;
        padding:0 1em 0 0;
        }
/*Footer*/
footer{
    height:45px;
    padding:15px 20px;
    color:#999999;
    text-align:left;
    background:#1d1d1d;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    }
.copyright{
    min-width:300px;
    padding:0;
    }
    footer a{
        color:#cccccc;
        }
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

/*Datepicker style*/
.ui-widget-header{
    background:none transparent;
    color:#ffffff;
    border:0 none;
    }
.ui-widget-header .ui-state-hover{
    background:none transparent;
    border:1px solid #373636;
    }
.ui-datepicker .ui-datepicker-next span{
    width: 20px;
    height: 20px;
    background:url(../images/design/arrowscalend.png) right center no-repeat;
    }
.ui-datepicker .ui-datepicker-prev span{
    width: 20px;
    height: 20px;
    background:url(../images/design/arrowscalend.png) left center no-repeat;
    }
.ui-widget-content {
    background:none transparent;
    min-width:260px;
    border:0;
    color:#ffffff;
    }
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background:none transparent;
    border:0 none;
    font-size:16px;
    color:#ffffff;
    padding:7px;
    }
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background:#0072ce;
    border-radius:5px;
    }
.ui-datepicker-other-month,
.ui-datepicker-unselectable,
.ui-state-disabled{
    color#666666;
    }
