{% load i18n staticfiles block_render_tags widget_tweaks mathfilters %}
<h4>{% trans 'По дате' %}</h4>
<div class="eventdate">
    <label>{% trans 'С' %}</label>
    {% render_field event_form.start_date class="dateui" placeholder="" autocomplete="off" %}
</div>
<div class="eventdate">
    <label>{% trans 'По' %}</label>
    {% render_field event_form.end_date class="dateui" placeholder="" autocomplete="off" %}
</div>
<p>{% trans 'Или ближайший' %}&nbsp;
    <a href="#" class="pseudolink" id="set_month">{% trans 'месяц' %}</a>&nbsp;/&nbsp;<a href="#" class="pseudolink" id="set_week">{% trans 'неделя' %}</a>
 </p>
<script>
    $('.dateui').datepicker({
        minDate: new Date(2014, 10 - 1, 7),
    });
    function setDate(date, delta){
        var today = new Date();
        if(delta){
            today.setDate(today.getDate() + delta);
        };
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!

        var yyyy = today.getFullYear();
        if(dd<10){dd='0'+dd} 
        if(mm<10){mm='0'+mm}
        {% if LANGUAGE_CODE == 'ru' %}
        today = dd+'.'+mm+'.'+yyyy;
        {% elif LANGUAGE_CODE == 'en' %}
        today = mm+'/'+dd+'/'+yyyy;
        {% elif LANGUAGE_CODE == 'zh-cn' %}
        today = yyyy+'-'+mm+'-'+dd;
        {% endif %}   
        $(date).val(today);
    };
    $("#set_month").click(function(e){
        e.preventDefault();
        setDate($('input[name=start_date]', 0));
        setDate($('input[name=end_date]'), 30);
        $('form[class=eventsfilter]').submit();
    });
    $("#set_week").click(function(e){
        e.preventDefault();
        setDate($('input[name=start_date]', 0));
        setDate($('input[name=end_date]'), 7);
        $('form[class=eventsfilter]').submit();
    });
</script>
<div class="eventline"></div>
<h4>{% trans 'По типу события' %}</h4>
{% render_field event_form.expotype class="niceselect" %}
<div class="eventline"></div>
<h4>{% trans 'По тематике' %}{#<a href="#" class="rightlink pseudolink">Показать все</a>#}</h4>
{% render_field event_form.subjects style="width:100%;" %}
<div class="clear"></div>
<button type="submit" class="eventfilterbtn">{% trans 'Найти' %}</button>