{% extends 'basecontent.html' %}

{% load block_render_tags i18n widget_tweaks %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock greentopblock">
            <h2>{{page_title}}</h2>
        {% if greenblock %}
            {% render_locale_title request greenblock %}
        {% else %}
            <p>{% trans 'Описание возможностей онлайн-аккредитации: предоставляется представителям средств массовой информации, не более, чем за 2 месяца до мероприятия' %}.</p>
        {% endif %}
        </div>
        <div class="textblock">
            <h4>{% trans 'Необходимо заполнить все поля' %}:</h4>
            <form class="accreditationrequest" method="post" action="">
                {% csrf_token %}
                <div class="leftpart">
                    <label>{{form.action.label}}</label>{{form.action.errors}}{{form.action}}
                    <label>{{form.name.label}}</label>{{form.name.errors}}{{form.name}}
                    <label>{{form.fio.label}}</label>{{form.fio.errors}}{{form.fio}}
                    <label>{{form.post.label}}</label>{{form.post.errors}}{{form.post}}
                    <label>{{form.contact_phone.label}}</label>{{form.contact_phone.errors}}{{form.contact_phone}}
                </div>
                <div class="rightpart">
                    <label>{{form.contact_email.label}}</label>{{form.contact_email.errors}}{{form.contact_email}}
                    <label>{{form.office_phone.label}}</label>{{form.office_phone.errors}}{{form.office_phone}}
                    <label>{{form.office_email.label}}</label>{{form.office_email.errors}}{{form.office_email}}
                    <label>{{form.editor_fio.label}}</label>{{form.editor_fio.errors}}{{form.editor_fio}}
                </div>
                <button type="submit" class="bluebtn">{% trans 'Отправить заявку' %}</button>
            </form>
        </div>
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}
