{% load staticfiles %}
{% load block_render_tags i18n %}
{% spaceless %}
<!DOCTYPE html>
<html>

<head>
    {% block seo %}

    <title>{% spaceless %}{% if detail_page %}
                {% render_locale_title request detail_page %}
            {% elif current_menuitem %}
                {% render_locale_title request current_menuitem %}
            {% elif systemtune %}
                {% render_locale_title request systemtune %}
            {% elif page_title %}
                {{page_title}}
            {%else%}
                ExpoForum
            {%endif%}
    {% endspaceless %}</title>
    {% if current_menuitem.has_seo %}
    <meta name="description" content="{% render_locale_field request current_menuitem 'description' %}" />
    <meta name="keywords" content="{% render_locale_field request current_menuitem 'keywords' %}" />
    {% elif detail_page.get_seo %}
    <meta name="description" content="{% render_locale_field request detail_page 'fp_description' %}" />
    <meta name="keywords" content="{% render_locale_field request detail_page 'fp_keywords' %}" />
    {% elif systemtune %}
    <meta name="description" content="{% render_locale_field request systemtune 'description' %}" />
    <meta name="keywords" content="{% render_locale_field request systemtune 'keywords' %}" />
    {% else %}
    <meta name="description" content="expoforum" />
    <meta name="keywords" content="expoforum" />
    {% endif %}
    <meta name="created" content="{% now "d M Y h:i" %}" />
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href="{% static "images/design/favicon.png" %}" rel="icon" type="image/png"/>
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/fancyfields.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/jquery.jscrollpane.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/jquery-ui-1.10.4.min.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "css/jquery.fancybox-1.3.4.css" %}" type="text/css" media="screen" />
    <link href="{% static "css/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet" type="text/css" />
    

    <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jcarousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fancyfields-1.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.fancybox-1.3.4.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.mousewheel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jscrollpane.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.min.js" %}"></script>
    {% if LANGUAGE_CODE == 'ru' %}
    <script type="text/javascript" src="{% static "js/jquery.ui.datepicker-ru.js" %}"></script>
    {% elif LANGUAGE_CODE == 'zh-cn' %}
    <script type="text/javascript" src="{% static "js/jquery.ui.datepicker-zh-cn.js" %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-scrollto.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    {% block headextrascripts%}
    {% endblock %}
    {% if systemtune.yandex_metrics or systemtune.google_analytics %}
        {{systemtune.yandex_metrics|safe}}
        {{systemtune.google_analytics|safe}}
    {% else %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js <http://www.google-analytics.com/analytics.js>','ga');
     
      ga('create', 'UA-55245259-1', 'auto');
      ga('send', 'pageview');
     
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26376918 = new Ya.Metrika({id:26376918,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });
     
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js <http://mc.yandex.ru/metrika/watch.js>";
     
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/26376918 <http://mc.yandex.ru/watch/26376918>" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>

{% block body %}
    <body class="{% block bodyclass %}w1280px{%endblock%}">
        {% block header %}
            {% include 'partial/header.html' %}
        {% endblock %}

        <section>
            <div class="container">
                {% block top %}
                    {% include 'partial/topblock_with_logo.html' %}
                    {# include 'partial/simple_topblock.html' #}
                {% endblock %}
                {% block middle %}
                    {% include 'partial/middleblock.html' %}
                {% endblock %}
            </div>
        </section>

        {% block bottom %}
        <section class="bottomnav">
            {% include 'partial/bottomnav.html' %}
        </section>
        {% endblock %}

        {% block footer %}
            {% include 'partial/footer.html' %}
        {% endblock %}
        {% block extrascripts %}
            <script type="text/javascript">
                $("a.fancybox").attr('rel', 'gallery').fancybox();
            </script>
        {% endblock %}
    </body>
{% endblock %}
</html>
{% endspaceless %}