﻿{% extends 'object_detail.html' %}

{% load staticfiles %}
{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %} 
        {% comment %}
        <div class="sideblock greenbanner">
            <section class="sideblocktext">
                <img src="{% static "images/qr1.png" %}" alt="qr">
                <p{% trans 'Код со ссылкой на эту страницу сайта. Она специально адаптированна для просмотра на смартфонах' %}.<p>
                <p class="small">{% trans 'C использованием технологии' %} <a href="#">{% trans 'QR-generator' %}</a></p>
            </section>
        </div>
        {% endcomment %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext">
                {% if kvcplan and kvcplan.cur_image_url %}
                    <a class="fancybox" href="{% render_locale_field request kvcplan 'cur_image_url' %}">
                {% else %}
                <a class="fancybox" href="{% static "images/planKVC_ru.png" %}">
                {% endif %}
                    <img src="{% static "images/scheme.png" %}" alt="План территории Конгрессно-выставочного центра">
                </a>
                <p>{% trans 'План территории Конгрессно-выставочного центра' %}</p>
            </section>
        </div>
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
    {% if detail_page %}
        {% render_locale_content request detail_page %}
    {% else %}
        <div class="textblock maps">
            <div class="mappart">
            </div>
            <h2>{% trans 'Как добраться' %}</h2>
            <p><b>{% trans 'Адрес' %}:</b><br>
            Санкт-Петербург, Петербургское шоссе, 206, корпус 1, 2, 3, 4, 5 и 6</p>
            <p class="mapbtn"><a href="https://www.google.com/maps/" class="yellowbutton">Проложить маршрут</a><br>
            <span class="small">На базе сервиса <a href="#">Google.Maps</a></span></p>
            <p>Распечатать схему с вариантами проезда (PDF) </p>
            <p class="probki"><span class="lvl5 probkirate">5</span>
            Уровень пробок в Санкт-Петербурге<br>по данным сервиса <a href="#">Яндекс.Пробки</a></p>
            <p class="copasicon">Координты местоположения:<br>59°45'23.17"N 30°21'56.96"E</p>
        </div>
        <div class="textblock">
            <h2>Как добраться на машине</h2>
            <img src="{% static "images/map1.jpg" %}" alt="Карта" class="leftimg">
            <p>Описание последовательностей маршрута при проезде на машине из некой точки или с разных направлений ключевых магистралей. С пояснениями про развязки.</p>
            <p>Предложение проложить маршрут с помощью специализированных сервисов:</p>
            <p><a href="#">Маршрут проезда на Google Maps</a></p>
            <p><a href="#">Маршрут с помощью приложения на вашем устройстве</a></p>
            <p><a href="#">Схемы движения транспорта по территории парковки</a></p>
        </div>
        <div class="textblock">
            <h2>Как добраться на общественном транспорте <a href="#" class="small rightlink">Проложить маршрут на Google.Maps</a></h2>
            <div class="accordion closed">
                <h3 class="accordiontitle">Метро Купчино</h3>
                <div class="accordiontext">
                    <h4>Посадка на площади возле памятника Троцкому</h4>
                    <img src="{% static "images/photo2.jpg" %}" alt="photo2" class="leftimg">
                    <div class="righttextblock">
                        <p class="busicon">36, 88, 149, 8А</p>
                        <p class="furgonicon">К-80, К-133, К-209</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <h3 class="accordiontitle">Метро Московская</h3>
                <div class="accordiontext">
                    <h4>Посадка со стороны Макдональдса</h4>
                    <img src="{% static "images/photo1.jpg" %}" alt="photo1" class="leftimg">
                    <div class="righttextblock">
                        <p class="busicon">Бесплатный шатл-бас до Экспофорума</p>
                        <ul class="bustime">
                            <li>Интервал движения:</li>
                            <li>пн-пт — каждые 30 мин.</li>
                            <li>сб, вс — каждый час</li>
                            <li>в дни проведения выставок каждые 15 мин.</li>
                        </ul>
                        <p class="busicon">36, 88, 149, 8А</p>
                        <p class="trallicon">11, 3</p>
                        <p class="furgonicon">К-80, К-133, К-209</p>
                    </div>
                </div>
                <div class="accordiontext">
                    <h4>Посадка на площади возле памятника Троцкому</h4>
                    <img src="{% static "images/photo2.jpg" %}" alt="photo2" class="leftimg">
                    <div class="righttextblock">
                        <p class="busicon">36, 88, 149, 8А</p>
                        <p class="furgonicon">К-80, К-133, К-209</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block headextrascripts %}
{{block.super}}
    <style>
        #mappart {
            width: 590px;
            height: 450px;
        }
    </style>
    
    {% if LANGUAGE_CODE == 'ru' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'en' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'zh-cn' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var mylocation = [59.9, 30.32];
            var geolocation = ymaps.geolocation,
                myMap = new ymaps.Map('mappart', {
                    center: mylocation,
                    zoom: 10,
                    controls: ['fullscreenControl', 'searchControl', 'zoomControl', 'routeEditor'],
                });
            
            var actualProvider = new ymaps.traffic.provider.Actual({}, { infoLayerShown: true });
            actualProvider.setMap(myMap);

            navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                mylocation = [latitude, longitude];

                ymaps.route([
                    mylocation,
                    [59.76351, 30.35746]
                ]).then(function (route) {
                        myMap.geoObjects.add(route);
                        var points = route.getWayPoints(),
                        lastPoint = points.getLength() - 1;
                        points.options.set('preset', 'islands#blueStretchyIcon');
                        points.get(0).properties.set('iconContent', 'Вы здесь');
                        points.get(lastPoint).properties.set('iconContent', 'ЭКСПОФОРУМ');
                    }, function (error) {
                    alert('Возникла ошибка: ' + error.message);
                });
            });
        }
    </script>
    <script type="text/javascript">
        function get_probki_data() {
            var url = '{% url 'base:get_yandex_probki' %}'
            $.ajax({
                url: url,
                success: function( data ) {
                    $('p.probki').remove();
                    $('div.textblock.maps').append('<p class=\"probki\"><span class=\"lvl5 probkirate\">'+data+'</span>Уровень пробок в Санкт-Петербурге<br>по данным сервиса Яндекс.Пробки</p>')
                }
            });
        };
        $(document).ready(get_probki_data());
    </script>
{% endblock %}