{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    {% include 'partial/sidebar.html' %}
    <div class="mainblock">
        <div class="textblock newstext">
            {% if current_menuitem.fp %}
            {% include 'partial/breadcrumbs.html' %}
            {% endif %}
            <h2>{% render_locale_title request detail_page %}</h2>
            {% if detail_page.show_date %}<time>{{detail_page.created}}</time>{% endif %}
            {% if detail_page.content %}
            {% render_locale_content request detail_page %}
            {% endif %}
            {% if form %}
                {% render_built_dynform form %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}