﻿{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            <h2>{% trans 'Результаты поиска' %}</h2>
            <ul class="medialist">
                {% for page in search_results %}
                <li class="mediaitem">
                    <h3><a href="{{page.get_absolute_url}}">{% render_locale_title request page %}</a></h3>
                    {# render_locale_content request page #}
                </li>
                {% empty %}
                <li class="mediaitem">
                    <p>{% trans 'Нет совпадений' %}</p>
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
