﻿{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            {% if form %}
            <h2>{{ form.title }}</h2>
                {% if form.response %}
                <p>{{ form.response }}</p>
                {% endif %}
            {% else %}
            <h2>{% trans 'Ваша заявка принята' %}</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
