{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}
{% load staticfiles %}

{% block headextrascripts%}
<script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
{% endblock %}

{% block middle %}
<div class="middlecontentblock">
    {% include 'partial/sidebar.html' %}
    <div class="mainblock">
        <div class="textblock newstext">
            <div id="menu"> <!-- Блок меню -->
                <ul>
                    <li><a href="#!/">Start</a></li>
                    <li><a href="#!/success">Success</a></li>
                    <li><a href="#!/error">Error</a></li>
                </ul>
            </div>
            <div id="start" class="block">
                <div class="userplace">
                    <label for="username">Имя пользователя: </label>
                    <input type="text" id="username" />
                </div>
                <div class="buttonplace">
                    <input type="button" value="Проверить" />
                </div>
            </div>
            <div id="error" class="block" style="display: none;">
                Ошибка такой пользователь не найден.
            </div>
            <div id="success" class="block" style="display: none;">
                Пользователь найден.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
$(function () {
    var Controller = Backbone.Router.extend({
        routes: {
            "": "start", // Пустой hash-тэг
            "!/": "start", // Начальная страница
            "!/success": "success", // Блок удачи
            "!/error": "error" // Блок ошибки
        },

        start: function () {
            $(".block").hide(); // Прячем все блоки
            $("#start").show(); // Показываем нужный
        },

        success: function () {
            $(".block").hide();
            $("#success").show();
        },

        error: function () {
            $(".block").hide();
            $("#error").show();
        }
    });

    var controller = new Controller(); // Создаём контроллер

    Backbone.history.start();  // Запускаем HTML5 History push
}); 
</script>
{% endblock %}