body {
  margin: 0;
}
.map {
  height: 745px;
  width: 100%;
  background-color: #fff;
}

.item{
  color: #6e6e6e;
  cursor: pointer;
}
.item_active{
  color: #000;
}
.item .item{
  padding-left: 10px;
}

.places-control, .views-control, .markers-control{
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 5px;
  text-align: left;
}

.places-control{
  top: 8px;
  right: 8px;
}

.views-control{
  top: 108px;
  right: 8px;
}
.markers-control{
  top: 108px;
  left: 8px;
}

.icon.selected{
  background-color: #fff;
}
