{% load block_render_tags %}

<div class="infobannersview">
    <div id="noslidebanner"></div>
    <div id="banners">
        <ul class="bannerslist">
        {% for banner in banners %}
            <li>
                {% get_locale_attr_val request banner.event 'site' as banner_event_site %}
                <a href="{{banner_event_site}}" target="_blank">
                     <div class="infobanner {{banner.color}}banner">
                        <div class="infobannerimg" style="background-image:url({% render_locale_url request banner 'image_url' %})"><img src="{% render_locale_field request banner 'image_url' %}" alt="{{banner.pk}}"></div>
                        <section class="infobannertext">
                            <p><time>{{banner.event.start_date}} — {{banner.event.end_date}}</time></p>
                            {% get_locale_attr_val request banner 'title' as banner_title %}
                            <h3>{% if banner_title %}{{banner_title}}{% else %}{% render_locale_title request banner.event %}{% endif %}</h3>
                            {% get_locale_attr_val request banner 'desc' as banner_desc %}
                            <p>{{banner_desc}}</p>
                        </section>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <a href="#" class="bannersnav prev" id="prevbanner">&lt;</a>
    <a href="#" class="bannersnav next" id="nextbanner">&gt;</a>
</div>