{% load block_render_tags %}

<div class="sidebar">
    {% include 'partial/topsubmenu.html' %}
</div>
<div class="slidercontent">
    <ul class="slidercontentlist owl-carousel owl-theme" id="promoslider">
    {% for item in sliders %}
        <li><a href="{{item.site}}" class="slidercontentlink" target="_blank"><img src="{% render_locale_url request item 'image_url' %}" alt="{{item.pk}}"></a></li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    $('#promoslider').owlCarousel({
        navigation : true, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,
        pagination:true,
        singleItem:true,
        stopOnHover:true,
        autoPlay:{%if systemtune%}{{systemtune.sliderspeedms}}{%else%}10000{%endif%}
    });
</script>