{% load block_render_tags i18n widget_tweaks %}
{% if type and parent_menu and parent_menu.children.all %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext">
                <ul class="sidemenu">
                    {% for mel in parent_menu.children.all %}
                    <li><a href="{{mel.url}}" class="{% ifequal current_menuitem.pk mel.pk %}active{%endifequal%}">{% render_locale_title request mel %}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </section>
        </div>
{% else %}
    <div class="sideblock bluebanner">
        <section class="sideblocktext centertext">
            <form class="newssubscribe" action="" method="get">
                <a href="#subscribe_form" id="subscribe">
                <button type="submit" name="subscribebtn">{% trans 'Подписаться на новости' %}</button></a>
            </form>
            <div class="clear"></div>
        </section>
    </div>
<div style="display:none">
    <form id="subscribe_form">
        {% csrf_token %}
        <div class="textblock">
            <p id="email_error" class="error" style="display: none;">{% trans 'Введите email' %}</p>
            <label>{% trans 'Выставка' %}</label>
            {% render_field subscribe_form.event class="niceselect" %}<br/>
            <label>{% trans 'Тематика' %}</label>
            {% render_field subscribe_form.subjects class="niceselect" %}<br/>
            <label>{% trans 'Email' %}</label>
            {% render_field subscribe_form.email class="niceselect" %}<br/>
            <button type="submit">{% trans 'Подписаться на новости' %}</button>
        </div>
    </form>
</div>
<script>
    $('#subscribe').fancybox({
        'scrolling': 'no',
        'titleShow': false,
        'onClosed': function() {
            $("#email_error").hide();
        }
    });

    $(document).on('submit','#subscribe_form', function() {
        if ($("#id_email").val().length < 1){
                $("#email_error").show();
                $.fancybox.resize();
                return false;
            }
        $.fancybox.showActivity();
        $.ajax({
            type: "POST",
            cache: false,
            url: "{% url 'news:subscribe' %}",
            data: $(this).serializeArray(),
            success: function(data) {
                $.fancybox('<div class="textblock">{% trans 'Вы подписались успешно!' %}</div>');
            }
        });

        return false;
    });
</script>
{% endif %}