{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            <div class="breadcrumbs">
                <ul>
                    {% if parent_menu %}
                    <li><a href="{{parent_menu.url}}">{% render_locale_title request parent_menu %}</a></li>
                    {% endif %}
                    <li>/</li>
                </ul>
            </div>
            <h2>{% trans 'Контакты подразделений' %}</h2>
        {% for dep in object_list %}
            {% if dep.departmentperson_set.all %}
            <div class="accordion noborder">
                <h4 class="stroked accordionlink"><span class="pseudolink">{% render_locale_title request dep %}</span><span>&nbsp;&nbsp;&nbsp;</span></h4>
                <div class="accordiontext">
                    <ul class="personeslist">
                        {% for person in dep.departmentperson_set.all %}
                        <li class="personecard">
                            <div class="personephoto">
                                <img src="{{person.avatar_url}}" alt="{{person.pk}}" width="210">                     
                            </div>
                            <div class="personainfo">
                                <p class="personaname">{% render_locale_field request person 'fio' %}</p>
                                <p class="personarole">{% render_locale_field request person 'post' %}</p>
                                <p class="personarole">{% render_locale_field request person 'content' %}</p>
                                <p class="personacontact">тел. {{person.phone|default:"-"}}
                                    {% if person.phone_postfix %}, доб. {{person.phone_postfix}}{%endif%}</p>
                                <p class="personacontact"><a href="mailto:{{person.email}}">{{person.email}}</a></p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% empty %}
            <p>{% trans 'Нет записей' %}</p>
        {% endfor %}
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}