{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            <div class="breadcrumbs">
                <ul>
                    {% if parent_menu %}
                    <li><a href="{{parent_menu.url}}">{% render_locale_title request parent_menu %}</a></li>
                    {% endif %}
                    <li>/</li>
                </ul>
            </div>
            <h2>{{page_title|capfirst}}</h2>
            <ul class="personeslist directions">
                {% for person in object_list %}
                <li class="personecard">
                    {% if person.avatar %}
                    <div class="personephoto">
                        <img src="{{person.avatar.url}}" alt="{{person.pk}}">
                    </div>
                    {% endif %}
                    <div class="personainfo">
                        <p class="personaname">{% render_locale_field request person 'fio' %}</p>
                        <p class="personarole">{% render_locale_field request person 'post' %}</p>
                        <p class="personarole">{% render_locale_field request person 'content' %}</p>
                        <p class="personacontact">тел. {{person.phone|default:"-"}}
                            {% if person.phone_postfix %}, {% trans 'доб.' %} {{person.phone_postfix}}{%endif%}</p>
                        {% if person.email %}
                        <a href="#mailto" class="bluebtn writeme" mailto="{{person.pk}}">{% trans 'Написать письмо' %}
                        </a>
                        {%endif%}
                    </div>
                </li>
                {% empty %}
                <li>
                    <p>{% trans 'Нет записей' %}</p>
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
<div style="display:none">
    <form id="mailto">
        {% csrf_token %}
        <div class="textblock">
            <p id="email_error" class="error" style="display: none;">{% trans 'Заполните все поля' %}</p>
            {{mailto_form.as_p}}
            <button type="submit">{% trans 'Отправить' %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
{{block.super}}
<script>
    $('div.personainfo > a').on('click', function() {
        $('#id_mail_to').val($(this).attr('mailto'));
    });
    $('div.personainfo > a').fancybox({
        'scrolling': 'no',
        'titleShow': false,
        'onClosed': function() {
            $("#email_error").hide();
        }
    });

    $(document).on('submit','#mailto', function(event) {
        event.preventDefault();
        if ($("#id_mail_to").val().length < 1){
                $("#email_error").show();
                $.fancybox.resize();
                return false;
            }
        $.fancybox.showActivity();
        $.ajax({
            type: "POST",
            cache: false,
            url: "{% url 'company:send_dpmail' %}",
            data: $(this).serializeArray(),
            success: function(data) {
                $.fancybox('<div class="textblock">{% trans 'Отправлено' %}</div>');
            }
        });

        return false;
    });
</script>
{% endblock %}