{% extends 'basecontent.html' %}

{% load block_render_tags i18n static %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">

        <div class="textblock greentopblock">
            <div class="breadcrumbs">
                <ul>
                    {% if parent_menu %}
                    <li><a href="{{parent_menu.url}}">{% render_locale_title request parent_menu %}</a></li>
                    {% endif %}
                    <li>/</li>
                </ul>
            </div>
            <h2>{{page_title|capfirst}}</h2>
        {% if greenblock %}
            {% render_locale_title request greenblock %}
        {% else %}
            <p>{% trans 'Конгрессно-выставочный центр Экспофорум предлагает своим сотрудникам удобные условия работы, доставку на комфортабельном автобусе от станций метро «Площадь Победы» и «Проспект Ветеранов», недорогое высококачественное питание в столовой для сотрудников, а также льготные путевки для детей до 12 лет' %}.</p>
        {% endif %}
        </div>
        <div class="textblock">
        {% for vac in object_list %}
            <div class="accordion noborder {%if not forloop.first %}closed{%endif%}">
                <h4 class="accordionlink"><span class="pseudolink">{% render_locale_title request vac %}</span></h4>
                <div class="accordiontext">
                    {% render_locale_content request vac %}
                    <a href="#mailto" class="bluebtn sendresume" vac="{{vac.pk}}">{% trans 'Отправить резюме' %}</a>
                </div>
            </div>
        {% empty %}
            <p>{% trans 'Нет записей' %}</p>
        {% endfor %}
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
<div style="display:none">
    <form id="mailto" action="{% url 'company:vacancy_send' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="textblock">
            <p id="email_error" class="error" style="display: none;">{% trans 'Заполните все поля' %}</p>
            <p>{{mailto_form.vacancy.label_tag}}{{mailto_form.vacancy}}</p>
            <p>{{mailto_form.fio.label_tag}}{{mailto_form.fio}}</p>
            <p>{{mailto_form.phone.label_tag}}{{mailto_form.phone}}</p>
            <p>{{mailto_form.email.label_tag}}{{mailto_form.email}}</p>
            <p>{{mailto_form.message.label_tag}}{{mailto_form.message}}</p>
            <p><label>{% trans 'Прикрепить резюме' %}</label>{{mailto_form.resume}}</p>
            <button type="submit" id="mailtoform">{% trans 'Отправить' %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
{{block.super}}
{% get_static_prefix as STATIC_PREFIX %}
<script src="{{STATIC_PREFIX}}js/jquery.iframe-transport.js"></script>
<script src="{{STATIC_PREFIX}}js/jquery.fileupload.js"></script>
<script>
    $('div.accordiontext > a').on('click', function() {
        $('#id_vacancy>select>option[value="'+$(this).attr('vac')+'"]').attr("selected", "selected");
        $('#id_vacancy').removeAttr('required');
        $('#id_resume').removeAttr('required');
        $('#id_resume').val("");
    });
    $('div.accordiontext > a').fancybox({
        'scrolling': 'no',
        'titleShow': false,
        'onClosed': function() {
            $("#email_error").hide();
        }
    });

    $('#id_resume').on('change', function() {
        var mask = /(\.|\/)(pdf|doc|txt|docx)$/i;
        console.log(this.files[0]);
        if (!mask.test(this.files[0].name)) {
            this.setCustomValidity('{% trans 'Файл должен быть в формате pdf, doc, docx, txt' %}');
            $(this).val("");
            $('button#mailtoform').click();
            return false;
        }
        else {
                this.setCustomValidity("");
        };

        if (this.files[0].size > 2621440) {
            this.setCustomValidity('{% trans 'Размер файла должен быть не больше 2,5Мб' %}');
            $(this).val("");
            $('button#mailtoform').click();
            return false;
        }
        else {
                this.setCustomValidity("");
        };
        
    });

    $(document).on('submit','#mailto', function(event) {
        if ($("#id_fio").val().length < 1){
                $("#email_error").show();
                $.fancybox.resize();
                return false;
            }
        $.fancybox.showActivity();

        var form = $(this);
        var formdata = false;
        if (window.FormData){
            formdata = new FormData(form[0]);
        }
        $.ajax({
            url         : "{% url 'company:vacancy_send' %}",
            data        : formdata ? formdata : form.serialize(),
            cache       : false,
            contentType : false,
            processData : false,
            type        : 'POST',
            success     : function(data, textStatus, jqXHR){
                $.fancybox('<div class="textblock">{% trans 'Отправлено' %}</div>');
            }
        });
        event.preventDefault();
        return false;
    });
</script>
{% endblock %}