{% load i18n admin_modify filermedia %}
{% load url from future %}

<script type="text/javascript">
function getFileType(name){
  var type = '';
  var extension = name.toLowerCase().split('.').pop();
  switch(extension) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'gif':
            type = 'image';
        break;
        case 'pdf':
            type = 'pdf';
        break;
        case 'doc':
        case 'docx':
        case 'txt':
            type = 'document';
        break;
        case 'mov':
        case 'avi':
        case 'mp4':
        case 'wmv':
        case 'mkv':
        case 'flv':
        case 'ogv':
        case 'ogg':
            type = 'video';
        break;
    }

    return type;
}
//<![CDATA[
$(function() {
  qq.FileUploaderBasic.prototype._validateFile = function(file){
        var name, size;

        if (file.value){
            // it is a file input
            // get input value and remove path to normalize
            name = file.value.replace(/.*(\/|\\)/, "");
        } else {
            // fix missing properties in Safari
            name = file.fileName != null ? file.fileName : file.name;
            size = file.fileSize != null ? file.fileSize : file.size;
        }

        if (! this._isAllowedExtension(name)){
            this._error('typeError', name);
            return false;

        } else if (size === 0){
            this._error('emptyError', name);
            return false;

        } else if (size && this._options.sizeLimit && size > this._options.sizeLimit){
            this._error('sizeError', name);
            return false;

        } else if (size && size < this._options.minSizeLimit){
            this._error('minSizeError', name);
            return false;

        } else if (size){

          var type = getFileType(name);

          if((type === 'image' || type === 'document') && size > 1000000){
            this._error('imageSizeError', name);
            return false;
          }

          if((type === 'video' || type === 'pdf') && size > 26214400){
            this._error('videoSizeError', name);
            return false;
          }

        }

        return true;
    };

    var uploader = new qq.FileUploaderBasic({
        action: '{% url 'admin:filer-ajax_upload' %}',
        button: document.getElementById('id_upload_button'),
        sizeLimit: 26214400,
        messages: {
          typeError: "{file} имеет недопустимое расширение. Разрешены расширения: {extensions}.",
          sizeError: '{file} слишком большой, максимальный размер файла {sizeLimit}.',
          imageSizeError: '{file} слишком большой, максимальный размер файла 1Мб.',
          videoSizeError: '{file} слишком большой, максимальный размер файла 25Мб.',
          minSizeError: "{file} is too small, minimum file size is {minSizeLimit}.",
          emptyError: "{file} is empty, please select files again without it.",
          onLeave: "The files are being uploaded, if you leave now the upload will be cancelled."
        },
        onSubmit: function(id, fileName){
          console.log('on submit', id, fileName, uploader, qq);
            $("#fileInputQueue .noItemsRow").hide();
            $('#fileInputQueue').append('<tr id="fileUpload-' + id + '" class="clipboardItem fileUploadQueueItem"><td class="thumbnail"><div class="loadingThumb" /></td><td class="label"><div><span class="fileName">' + fileName + ' (<span class="size">?</span>)</span> [<span class="percentage">&nbsp;</span>]</div><div class="fileUploadProgress" style="width: 100%;"><div id="fileUpload-' + id + '-ProgressBar" class="fileUploadProgressBar" style="width: 1px; height: 3px;"></div></div></td></tr>');
        },
        onProgress: function(id, fileName, loaded, total){
            var percent = Math.round(loaded / total * 100);
            $('#fileUpload-' + id + ' .size').html(uploader._formatSize(total));
            $('#fileUpload-' + id + ' .percentage').html('' + percent + "%");
            $('#fileUpload-' + id + '-ProgressBar').css('width', percent + "%");
        },
        onComplete: function(id, fileName, responseJSON){
            var file = responseJSON;
            if (file.error) {
                var html = '\
                <td class="thumbnail"><img style="width: 32px;height: 32px;" src="{% filer_staticmedia_prefix %}/icons/missingfile_32x32.png" alt="{% filter escapejs %}{% trans "file missing" %}{% endfilter %}" /></td>\
                <td class="label">' + file.error + '</td>\
                <td class="buttons"></td>';
            } else {
                var html = '\
                    <td class="thumbnail"><img style="width: 32px;height: 32px;" src="' + file.thumbnail + '" alt="' + file.alt_text + '" /></td>\
                    <td class="label">' + file.label + '</td>\
                    <td class="buttons"></td>';
            }
            $('#fileUpload-' + id).html(html);
        },
        onCancel: function(id, fileName){
            $('#fileUpload-' + id).hide();
        }
    });
});
//]]>
</script>
