﻿{% extends 'basecontent.html' %}

{% load i18n block_render_tags%}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        <div class="sideblock greenbanner">
            <section class="sideblocktext">
                <h3>{% trans 'Подбор событий' %}</h3>
                <form class="eventsfilter" action="" method="get">
                    {% include 'partial/filters/base.html' %}
                </form>
            </section>
        </div>
        {% include 'partial/sidebar/bluebanner.html' %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock events">
            <h2>{% trans 'Календарь событий' %}</h2>
            <p>{% trans 'Начните вводить название события или ключевые слова, «умный поиск» вам подскажет' %}</p>
            <form class="eventsearch" action="" method="get">
                <input type="search" name="keyword" value="" placeholder="{% trans 'Поиск по названию события, описанию' %}">
                <button type="submit" class="searchbtnicon">{% trans 'Найти' %}</button>
                <button type="submit" class="bluebtn">{% trans 'Найти' %}</button>
            </form>
        </div>
        <div id="eventlist">
    {% for event in event_list %}
        {% include 'partial/event_block.html' with event=event %}
    {% empty %}
        <div class="textblock eventblock orange"><h3>{% trans 'Нет событий' %}</h3></div>
    {% endfor %}
        </div>
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
{{block.super}}
<script>
  $(function() {
    $('form[class=eventsearch] input[name=keyword]').autocomplete({
      source: function( request, response ) {
        $.ajax({
            url: '{% url 'calendar:event_title_list' %}?term='+request.term,
            success: function( data ) {
                response( $.map( data, function( item ) {
                return {
                    label: item.title,
                    value: item.title,
                }
            }));
            }
        });
      },
      minLength: 0,
    });
  });
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('ul.pageslist').on("click", 'a', function(event){
        event.preventDefault();
        var link = $(this);
        if (link.attr('href')) {
            var params = link.attr('href').split('?')[1];
            get_events_data(params);
        }
    });
    $('form.eventsearch').on("submit", function(event){
        event.preventDefault();
        var params = $(this).serialize();
        if (params) {
            get_events_data(params);
        }
    });
    $('form.eventsfilter').on("submit", function(event){
        event.preventDefault();
        var params = $(this).serialize();
        if (params) {
            get_events_data(params);
        }
    });
    function get_events_data(params) {
        var url = '{% url 'calendar:api_event_list' %}'
        if (params) {
            url = url + '?' + params;
        }
        $.ajax({
            url: url,
            success: function( data ) {
                set_events(data);
            }
        });
    };

    function set_events(data) {
        set_pagination(data);
        var eventslist = $('div#eventlist')
        eventslist.empty();
        if (data.results.length > 0) {
            $.each(data.results, function (index, element) {
                eventslist.append(element.html);
            });
            window.scrollTo(0,0);
        }
        else {
            eventslist.append('{% escapejs%}<div class="textblock eventblock orange"><h3>{% trans 'Нет событий' %}</h3></div>{% endescapejs %}');
        };
    };
    
    function set_pagination(data) {
        var paginator = $('ul.pageslist');
        paginator.empty();
        if (data.pages.length > 1) {
            if (data.previous) {
                var href = data.previous.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Предыдущая' %}'+'</a></li>');
            };
            if (data.pages && data.viewable_pages) {
                set_paginator_pages(data, paginator);
            };
            if (data.next) {
                var href = data.next.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Следующая' %}'+'</a></li>');
            };
            $('.pageslist a').click(function(e){
                $('.middlecontentblock').ScrollTo({offsetTop: 100});
            });
        };
    }
});
</script>
{% endblock %}
