{% load staticfiles %}
{% load block_render_tags i18n %}
{% spaceless %}
<!DOCTYPE html>
<html>

<head>
    {% block seo %}
    {% if current_menuitem.has_seo %}
    <title>{% render_locale_title request current_menuitem %} mobile</title>
    <meta name="description" content="{% render_locale_field request current_menuitem 'description' %}" />
    <meta name="keywords" content="{% render_locale_field request current_menuitem 'keywords' %}" />
    {% elif detail_page.get_seo %}
    <title>{% render_locale_title request detail_page %} mobile</title>
    <meta name="description" content="{% render_locale_field request detail_page 'description' %}" />
    <meta name="keywords" content="{% render_locale_field request detail_page 'keywords' %}" />
    {% elif systemtune %}
    <title>{% render_locale_title request systemtune %} mobile</title>
    <meta name="description" content="{% render_locale_field request systemtune 'description' %}" />
    <meta name="keywords" content="{% render_locale_field request systemtune 'keywords' %}" />
    {% else %}
    <title>{% if page_title %}{{page_title}}{%else%}ExpoForum{%endif%} mobile</title>
    <meta name="description" content="expoforum" />
    <meta name="keywords" content="expoforum" />
    {% endif %}
    <meta name="created" content="{% now "d M Y h:i" %}" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href="{% static "mobile/css/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "mobile/css/style.css" %}" rel="stylesheet" type="text/css" />
    

    <script type="text/javascript" src="{% static "mobile/js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mobile/js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mobile/js/jquery.ui.datepicker-ru.js" %}"></script>
    <script type="text/javascript" src="{% static "mobile/js/main.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static "mobile/js/html5shiv.js" %}"></script>
    <![endif]-->
    {% block headextrascripts%}
    {% endblock %}
</head>

{% block body %}
<body>
    {% block header %}
    <header>
        <div class="container">
            <div class="headmenu">
                <ul>
                    <li><a href="{% url 'calendar:events' %}">Календарь</a></li>
                    <li><a href="{% url 'base:plan' %}">План</a></li>
                    <li><a href="{% url 'howtopage:howtopage' %}">Как добраться</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% endblock %}

    <section>
        <div class="container">
            <div class="headlogo">
                <a href="/"><img src="{% static "mobile/images/design/logo.png" %}" alt="ExpoForum"></a>
            </div>
            {% if header_block_content.info %}
                <div class="headcontacts">{{header_block_content.info.phone}}</div>
                <div class="clear"><a class="heademail" href="mailto:{{header_block_content.info.email}}">{{header_block_content.info.email}}</a></div>
            {% else %}
            <div class="headcontacts">
                +7 (812) <b>240-40-40</b> 
            </div>
            <div class="clear">
                <a href="mailto:info@expoforum.ru" class="heademail">info@expoforum.ru</a>
            </div>
            {% endif %}
        </div>
    </section>

    {% block maincontain %}
    <section></section>
    {% endblock %}

    <section>
        <div class="footersearch">
            <form class="" action="{% url 'base:search' %}?flavour=full" method="get">
                <input type="search" name="keyword" value="" placeholder="{% trans 'Поиск по сайту' %}">
                <button type="submit" class="bluebtn">{% trans 'Найти' %}</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="container">
            <div>
                <p><a href="?flavour=full">{% trans 'Полная версия сайта' %}</a></p>
            </div>
            <div class="copyright">
                <p>{% trans 'Экспофорум &copy; 2014' %}</p>
            </div>
        </div>
    </footer>
</body>
{% endblock %}
</html>
{% endspaceless %}