{% extends 'basecontent.html' %}

{% load staticfiles %}
{% load i18n block_render_tags%}

{% block maincontain %}
<section>
    <div class="container">
        <div class="textblock">
            <h2>Как добраться</h2>
        </div>
        <div class="accordion closed">
            <h3 class="accordiontitle">На машине</h3>
            <div class="accordiontext">
                <div class="textblock">
                    <img src="{% static "mobile/images/map1.jpg" %}" alt="Карта">
                    <p>Описание последовательностей маршрута при проезде на машине из некой точки или с разных направлений ключевых магистралей. С пояснениями про развязки.</p>
                    <p>Предложение проложить маршрут с помощью специализированных сервисов:</p>
                    <p><a href="#">Маршрут проезда на Google Maps</a></p>
                    <p><a href="#">Маршрут с помощью приложения на вашем устройстве</a></p>
                    <p><a href="#">Схемы движения транспорта по территории парковки</a></p>
                </div>
            </div>
        </div>
        <div class="accordion closed">
            <h3 class="accordiontitle">На общественном транспорте</h3>
            <div class="accordiontext">
                <div class="textblock">
                    <h4>Посадка на площади возле памятника Троцкому</h4>
                    <img src="{% static "mobile/images/photo2.jpg" %}" alt="photo2">
                    <p class="busicon">36, 88, 149, 8А</p>
                    <p class="furgonicon">К-80, К-133, К-209</p>
                    <br>
                    <h4>Посадка со стороны Макдональдса</h4>
                    <img src="{% static "mobile/images/photo1.jpg" %}" alt="photo1" class="leftimg">
                    <p class="busicon">Бесплатный шатл-бас до Экспофорума</p>
                    <ul class="bustime">
                        <li>Интервал движения:</li>
                        <li>пн-пт — каждые 30 мин.</li>
                        <li>сб, вс — каждый час</li>
                        <li>в дни проведения выставок каждые 15 мин.</li>
                    </ul>
                    <p class="busicon">36, 88, 149, 8А</p>
                    <p class="trallicon">11, 3</p>
                    <p class="furgonicon">К-80, К-133, К-209</p>
                </div>
            </div>
        </div>
        <div class="accordion">
            <h3 class="accordiontitle">План территории</h3>
            <div class="accordiontext">
                <div class="textblock">
                    <p class="probki"><span class="lvl5 probkirate">5</span>
                    Уровень пробок в Санкт-Петербурге<br>по данным сервиса <a href="#">Яндекс.Пробки</a></p>
                </div>
                <div class="mapblock">
                    <a href="#" class="resizelink orange">развернуть</a>
                    <div class="mappart" id="mappart"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block headextrascripts %}
{{block.super}}
    <style>
        #mappart {
            width: 590px;
            height: 450px;
        }
    </style>
    
    {% if LANGUAGE_CODE == 'ru' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'en' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'zh-cn' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var mylocation = [59.9, 30.32];
            var geolocation = ymaps.geolocation,
                myMap = new ymaps.Map('mappart', {
                    center: mylocation,
                    zoom: 10,
                    controls: ['fullscreenControl', 'searchControl', 'zoomControl', 'routeEditor'],
                });
            
            var actualProvider = new ymaps.traffic.provider.Actual({}, { infoLayerShown: true });
            actualProvider.setMap(myMap);

            navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                mylocation = [latitude, longitude];

                ymaps.route([
                    mylocation,
                    [59.76351, 30.35746]
                ]).then(function (route) {
                        myMap.geoObjects.add(route);
                        var points = route.getWayPoints(),
                        lastPoint = points.getLength() - 1;
                        points.options.set('preset', 'islands#blueStretchyIcon');
                        points.get(0).properties.set('iconContent', 'Вы здесь');
                        points.get(lastPoint).properties.set('iconContent', 'ЭКСПОФОРУМ');
                    }, function (error) {
                    alert('Возникла ошибка: ' + error.message);
                });
            });
        }
    </script>
    <script type="text/javascript">
        function get_probki_data() {
            var url = '{% url 'base:get_yandex_probki' %}'
            $.ajax({
                url: url,
                success: function( data ) {
                    $('p.probki').remove();
                    $('div.textblock.maps').append('<p class=\"probki\"><span class=\"lvl5 probkirate\">'+data+'</span>Уровень пробок в Санкт-Петербурге<br>по данным сервиса Яндекс.Пробки</p>')
                }
            });
        };
        $(document).ready(get_probki_data());
    </script>
{% endblock %}