{% extends 'basecontent.html' %}

{% load staticfiles %}
{% load i18n block_render_tags%}

{% block maincontain %}
<section>
    <div class="textblock">
        <h2>План комплекса</h2>
    </div>
    <div class="planblock">
        <a href="#" class="resizelink lightblue">развернуть</a>
        <ul class="layers">
            <li class="layer active"><img src="{% static "mobile/images/plan1.png" %}" alt="flor4"></li>
            <li class="layer"><img src="{% static "mobile/images/plan1.png" %}" alt="flor3"></li>
            <li class="layer"><img src="{% static "mobile/images/plan1.png" %}" alt="flor2"></li>
            <li class="layer"><img src="{% static "mobile/images/plan1.png" %}" alt="flor1"></li>
        </ul>
        <ul class="layersbtns">
            <li><a href="#" class="button lightblue active">4 этаж</a></li>
            <li><a href="#" class="button lightblue">3 этаж</a></li>
            <li><a href="#" class="button lightblue">2 этаж</a></li>
            <li><a href="#" class="button lightblue">1 этаж</a></li>
        </ul>
    </div>
    <a href="#" class="planlink">Схема движения транспорта по территории</a>
</div>
</section>
{% endblock %}