{% load block_render_tags i18n thumbnail %}
{% load embed_video_tags %}
<li class="mediapreviewitem">
    {% if fl.is_image %}
    {% thumbnail fl.image 150x100 upscale as thumb %}
    <a href="{{fl.image.url}}" id="{{fl.pk}}" rel="gallery" title="{% render_locale_title request fl %}"><img src="{{thumb.url}}" alt="{{fl.pk}}"></a>
    {% endif %}

    {% if fl.is_video %}
        {% video fl.video as video %} 
    <a href="#video-{{fl.pk}}" id="{{fl.pk}}" rel="gallery"><img src="{{ video.thumbnail }}" alt="{{fl.pk}}" width="150" height="100"></a>
    <div style="display:none">
        <div class="textblock" id="video-{{fl.pk}}">
            {% video video %}
            <p>{% render_locale_title request fl %}</p>
        </div>
    </div>
        {% endvideo %}
    {% endif %}

    {% if fl.is_file %}
    <a href="{{fl.fl.url}}" class="documentitem pdf">{% render_locale_title request fl %}<br/>({{fl.fl.size|filesizeformat}})</a>
    {% endif %}
    <p>{% render_locale_title request fl %}</p>
</li>