{% load i18n block_render_tags widget_tweaks %}
<div class="sideblock greenbanner">
    <section class="sideblocktext">
        <h3>{% trans 'Подбор материалов' %}</h3>
        <form class="eventsfilter" action="" method="get">
            <h4>{% trans 'По формату' %}</h4>
            <input type="checkbox" name="eventformat" value="0" class="nicecheck" {% if 0|int2unicode in filt_eventformat%}checked{% endif %}/><label>{% trans 'Фотоматериалы' %}</label>
            <input type="checkbox" name="eventformat" value="1" class="nicecheck" {% if 1|int2unicode in filt_eventformat%}checked{% endif %}/><label>{% trans 'Видеоматериалы' %}</label>
            <div class="eventline"></div>
            <h4>{% trans 'По дате' %}</h4>
            <div class="eventdate">
                <label>{% trans 'С' %}</label>
                {% render_field event_form.start_date class="dateui" placeholder="" autocomplete="off" %}
            </div>
            <div class="eventdate">
                <label>{% trans 'По' %}</label>
                {% render_field event_form.end_date class="dateui" placeholder="" autocomplete="off" %}
            </div>
            <p>{% trans 'Или ближайший' %}&nbsp;
                <a href="#" class="pseudolink" id="set_month">{% trans 'месяц' %}</a>&nbsp;/&nbsp;<a href="#" class="pseudolink" id="set_week">{% trans 'неделя' %}</a>
             </p>
            <script>
                $('.dateui').datepicker({
                    minDate: new Date(2014, 10 - 1, 7),
                });
                function setDate(date, delta){
                    var today = new Date();
                    if(delta){
                        today.setDate(today.getDate() + delta);
                    };
                    var dd = today.getDate();
                    var mm = today.getMonth()+1; //January is 0!

                    var yyyy = today.getFullYear();
                    if(dd<10){dd='0'+dd} 
                    if(mm<10){mm='0'+mm} 
                    {% if LANGUAGE_CODE == 'ru' %}
                    today = dd+'.'+mm+'.'+yyyy;
                    {% elif LANGUAGE_CODE == 'en' %}
                    today = mm+'/'+dd+'/'+yyyy;
                    {% elif LANGUAGE_CODE == 'zh-cn' %}
                    today = yyyy+'-'+mm+'-'+dd;
                    {% endif %}    

                    $(date).val(today);
                };
                $("#set_month").click(function(e){
                    e.preventDefault();
                    setDate($('input[name=start_date]', 0));
                    setDate($('input[name=end_date]'), 30);
                    $('form[class=eventsfilter]').submit();
                });
                $("#set_week").click(function(e){
                    e.preventDefault();
                    setDate($('input[name=start_date]', 0));
                    setDate($('input[name=end_date]'), 7);
                    $('form[class=eventsfilter]').submit();
                });
            </script>
            <div class="clear"></div>
            <button type="submit" class="eventfilterbtn">{% trans 'Найти' %}</button>
        </form>
    </section>
</div>