﻿{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            <h2>{% trans 'СМИ о нас' %}</h2>
            <ul class="medialist">
                {% for publication in publication_list %}
                <li class="mediaitem">
                    <h3>{% render_locale_title request publication %}</h3>
                    {% render_locale_content request publication %}
                    {% get_locale_attr_val request publication 'site' as site_link %}
                    {% get_locale_attr_val request publication 'source' as source %}
                    {% if site_link or publication.ru_site %}
                    <a href="{%if site_link%}{{site_link}}{%else%}{{publication.ru_site}}{%endif%}" class="openmedia" target="_blank"><span>{%if source%}{{source}}{%else%}{{publication.ru_source}}{%endif%}, {{publication.date}}</span></a>
                    {% endif %}
                    {% get_locale_attr_val request publication 'flr' as publication_file %}
                    {% if publication_file %}
                    <a href="{{publication_file.url}}" class="documentitem pdf">{% render_locale_title request publication %}<br/>({{publication_file.size|filesizeformat}})</a>
                    {% elif publication.ru_flr %}
                    <a href="{{publication.ru_flr.url}}" class="documentitem pdf">{% render_locale_title request publication %}<br/>({{publication.ru_flr.size|filesizeformat}})</a>
                    {% endif %}
                </li>
                {% empty %}
                <li class="mediaitem">
                    {% include 'partial/empty.html' %}
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
