{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock news">
            <h2>{% trans 'Документация' %}</h2>
        {% if greenblock %}
            {% render_locale_title request greenblock %}
        {% else %}
            <p>{% trans 'Краткое описание раздела: здесь представлена только та часть необходимой документации, которая является универсальной. В каждом отдельном случае комплект документов может быть индивидуальным' %}.</p>
        {% endif %}
        </div>
        <div class="textblock">
            <ul class="documentslist">
                {% for file in object_list %}
                <li class="documentitem {{file.file_type}}">
                    <a href="{{file.docfile.url}}" >{% render_locale_title request file %}<br/>({{file.get_file_type_display}}, {{file.docfile.size|filesizeformat}})</a>
                </li>
                {% empty %}
                <li>
                    {% include 'partial/empty.html' %}
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
