{% extends 'basecontent.html' %}

{% load block_render_tags i18n thumbnail %}
{% load embed_video_tags static %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/mediabank_filters.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock greentopblock">
            {# include 'partial/breadcrumbs.html' #}
            <h2>{% trans 'Медиа-банк' %}</h2>
        {% if greenblock %}
            {% render_locale_title request greenblock %}
        {% else %}
            <p>{% trans 'Здесь вы можете найти множество фото- и видеоматериалов, которые вы можете запросить у нашего отдела по связям с общественностью. При использовании данных материалов необходимо указывать авторство КВЦ Экспофорум' %}.</p>
        {% endif %}
        </div>
        <div class="textblock newstext">
        {% for gal in object_list %}
            <div class="accordion noborder {% if not forloop.first %}closed{% endif %}">
                <h4 class="accordionlink"><span class="pseudolink">{% render_locale_title request gal %}</span></h4>
                {% render_locale_content request gal %}
                <div class="accordiontext">
                    <ul class="mediapreviewlist">
                    {% for fl in gal.mediafile_set.all %}
                        <li class="mediapreviewitem">
                            {% if fl.is_image %}
                            {% thumbnail fl.image 150x100 crop as thumb %}
                            <a href="{{fl.image.url}}" id="{{fl.pk}}" rel="gallery" title="{% render_locale_title request fl %}"><img src="{{thumb.url}}" alt="{{fl.pk}}"></a>
                            {% endif %}

                            {% if fl.is_video %}
                                {% video fl.video as video %} 
                            <a href="#video-{{fl.pk}}" id="{{fl.pk}}" rel="gallery"><img src="{{ video.thumbnail }}" alt="{{fl.pk}}" width="150" height="100"></a>
                            <div style="display:none">
                                <div class="textblock" id="video-{{fl.pk}}">
                                    {% video video %}
                                    <p>{% render_locale_title request fl %}</p>
                                </div>
                            </div>
                                {% endvideo %}
                            {% endif %}

                            {% if fl.is_file %}
                            <a href="{{fl.fl.url}}" class="documentitem pdf">{% render_locale_title request fl %}<br/>({{fl.fl.size|filesizeformat}})</a>
                            {% endif %}
                            <p>{% render_locale_title request fl %}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% empty %}
            {% include 'partial/empty.html' %}
        {% endfor %}
        </div>
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('ul.pageslist').on("click", 'a', function(event){
        event.preventDefault();
        var link = $(this);
        if (link.attr('href')) {
            var params = link.attr('href').split('?')[1];
            get_events_data(params);
        }
    });
    $('form.eventsfilter').on("submit", function(event){
        event.preventDefault();
        var params = $(this).serialize();
        if (params) {
            get_events_data(params);
        }
    });
    function get_events_data(params) {
        var url = '{% url 'filestorage:mediabank_api_list' %}'
        if (params) {
            url = url + '?' + params;
        }
        $.ajax({
            url: url,
            success: function( data ) {
                set_events(data);
                $('h4.accordionlink').on('click', function(){
                    $(this).siblings().slideToggle();
                    $(this).parent().toggleClass('closed');
                });
                $('li.mediapreviewitem > a').fancybox();
            }
        });
    };

    function set_events(data) {
        set_pagination(data);
        var eventslist = $('div.textblock.newstext')
        eventslist.empty();
        if (data.results.length > 0) {
            $.each(data.results, function (index, element) {
                var event_block = '<div class="accordion noborder ';
                if (!index == 0) {
                    event_block+='closed';
                }
                event_block+='\"><h4 class=\"accordionlink\"><span class=\"pseudolink\">'+element.title;
                event_block+='</span></h4><div class=\"accordiontext\"><ul class=\"mediapreviewlist\">';
                event_block+=set_mediafiles(element.mediafile_set);
                event_block+='</ul></div></div>';
                eventslist.append(event_block);
            });
        }
        else {
            eventslist.append('{% escapejs%}{% include 'partial/empty.html' %}{% endescapejs %}');
        };
    };

    function bytesToSize(bytes, precision) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        var posttxt = 0;
        if (bytes == 0) return 'n/a';
        if (bytes < 1024) {
                return Number(bytes) + " " + sizes[posttxt];
        }
        while( bytes >= 1024 ) {
                posttxt++;
                bytes = bytes / 1024;
        }
        return bytes.toPrecision(precision) + " " + sizes[posttxt];
    }


    function set_mediafiles(mediafiles) {
        var fl = '';
        var media_path = {% get_media_prefix %};
        if (mediafiles.length > 0) {
            $.each(mediafiles, function (index, element) {
                var alt_id = 'alt=\"'+element.id+'\"';
                fl+='<li class=\"mediapreviewitem\">';
                if (element.small_image){
                    fl+='<a href=\"#image-'+element.id+'\" id=\"'+element.id+'\" rel=\"gallery\">';
                    fl+='<img src=\"'+element.small_image+'\" '+alt_id+'></a>';
                    fl+='<div style=\"display:none\"><div class=\"textblock\" id=\"image-'+element.id+'\">';
                    fl+='<img src=\"'+element.image_url;
                    fl+='\" '+alt_id+'><p>'+element.title+'</p></div></div>';
                };
                if (element.is_video) {
                    fl+='<a href=\"#video-'+element.id+'\" id=\"'+element.id+'\"  rel=\"gallery\">';
                    fl+='<img src=\"'+element.video_thumbnail+'\" '+alt_id+' width=\"150\" height=\"100\"></a>';
                    fl+='<div style=\"display:none\"><div class=\"textblock\" id=\"video-'+element.id+'\">';
                    fl+=element.render_video
                    fl+='<p>'+element.title+'</p></div></div>';
                };
                if (element.is_file) {
                    fl+='<a href=\"'+element.fl_url+'\" class=\"documentitem pdf\">';
                    fl+= element.title +'<br/>('+bytesToSize(element.fl_size,3)+')</a>';
                };
                fl+='<p>'+element.title+'</p></li>';
            });
        };
        
        return fl;
    };

    function set_pagination(data) {
        var paginator = $('ul.pageslist');
        paginator.empty();
        if (data.pages.length > 1) {
            if (data.previous) {
                var href = data.previous.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Предыдущая' %}'+'</a></li>');
            };
            if (data.pages && data.viewable_pages) {
                set_paginator_pages(data, paginator);
            };
            if (data.next) {
                var href = data.next.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Следующая' %}'+'</a></li>');
            };
            $('.pageslist a').click(function(e){
                $('.middlecontentblock').ScrollTo({offsetTop: 100});
            });
        };
    }
});
</script>
<script>
    $('li.mediapreviewitem > a').not('.documentitem').fancybox();
</script>
{% endblock %}