{% load block_render_tags i18n %}
<div class="textblock partnersfilter">
    <h2>{{page_title|capfirst}}</h2>
    <form class="partnerfilterform" action="{% url 'partners:partners' %}" method="get">
        <div class="partnercontrolgroup">
            <fieldset>
        {% for item in subjects %}
                <input type="checkbox" name="partnertype__pk" value="{{item.pk}}" class="nicecheck" /><label>{% render_locale_title request item %}</label>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </fieldset>
        </div>
        <div class="partnercontrolgroup">
            <fieldset>
            {% endif %}
        {% endfor %}  
            </fieldset>          
        </div>
        <button type="submit" class="eventfilterbtn">{% trans 'Найти' %}</button>
    </form>
</div>