﻿{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        {% include 'partial/partners_filters.html' %}
        <div class="textblock">
            <ul class="partnerslisttext">
                {% for partner in partner_list %}
                <li class="partneritem">
                    <div class="partnerlogo" style="background-image:url({% render_locale_url request partner 'image_url' %})"><img src="{% render_locale_url request partner 'image_url' %}" alt="{{partner.pk}}"></div>
                    <div class="partnertext">
                        <h3><a href="{% render_locale_url request partner 'cur_site' %}" {#class="openmedia"#} target="_blank">{% render_locale_title request partner %}</a></h3>
                        {% render_locale_content request partner %}
                    </div>
                </li>
                {% empty %}
                <li class="partneritem">
                    {% include 'partial/empty.html' %}
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
