{% load block_render_tags i18n pytils_dt %}
<div class="announcements">
    <h3>{% trans 'Ближайшие события' %}</h3>
    {% if calendar_events %}
        <ul class="announcementslist">
            {% for event in calendar_events %}
                <li class="announcement">
                    <a href="{{event.get_absolute_url}}">
                        {% if LANGUAGE_CODE == 'ru' %}
                        <time>{{event.start_date|ru_strftime:"%d %B"}} – {{event.end_date|ru_strftime:"%d %B"}}</time>
                        {% else %}
                        <time>{{event.start_date|date:"d F"}} – {{event.end_date|date:"d F"}}</time>
                        {% endif %}
                        <br/>
                        {% render_locale_title request event %}
                    </a>
                </li>
            {% endfor%}
        </ul>
    {% endif %}
    <a href="{% url 'calendar:events' %}" class="allannouncements"><i class="topsubmenuicon eventscalendaricon"></i>{% trans 'Смотреть все события в календаре' %}</a>
</div>