{% load block_render_tags i18n%}
<div class="container">
    <div class="column3">
        <ul class="bottomlinkslist">
            {% with header_block_content.menu.all.0 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
            <li><a href="#">Миссия</a></li>
            <li><a href="#">История</a></li>
            <li><a href="{% url 'partners:partners' %}">{% trans 'Партнеры' %}</a></li>
            <li><a href="{% url 'publications:publications' %}">{% trans 'СМИ о нас' %}</a></li>
            <li><a href="#">Медиа-банк</a></li>
            <li><a href="#">Руководство</a></li>
            <li><a href="#">Вакансии</a></li>
            <li><a href="#">Контакты подразделений</a></li>
        </ul>
        <ul class="bottomlinkslist">
            <li><a href="{% url 'news:news_list' %}"><b>{% trans 'Новости' %}</b></a></li>
            {% for item in news_subjects %}
                <li><a href="{% url 'news:news_list' %}?subjects__pk={{item.pk}}">{% trans 'Новости' %} {% render_locale_title request item %}</a></li>
            {% endfor %}
        </ul>
        <ul class="bottomlinkslist">
            {% with header_block_content.menu.all.1 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
        </ul>
    </div>
    <div class="column3">
        <ul class="bottomlinkslist">
            {% with main_navigation_block.menu.all.2 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
            <li><a href="#">Сервисы</a></li>
            <li><a href="#">Онлайн-регистрация на мероприятие</a></li>
            <li><a href="#">Организация поездки</a></li>
        </ul>
        <ul class="bottomlinkslist">
            {% with main_navigation_block.menu.all.3 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
            <li><a href="#">Пресс-релизы</a></li>
            <li><a href="#">Аккредитация</a></li>
            <li><a href="#">Пресс-центр</a></li>
            <li><a href="#">Организация поездки</a></li>
        </ul>
        <ul class="bottomlinkslist">
            {% with main_navigation_block.menu.all.1 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
            <li><a href="#">Общие условия участия</a></li>
            <li><a href="#">Онлайн-заявка на участие</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Электронные каталоги</a></li>
        </ul>
    </div>
    <div class="column3">
        <ul class="bottomlinkslist">
            {% with main_navigation_block.menu.all.0 as item %}
            <li><a href="{{item.get_absolute_url}}"><b>{% render_locale_title request item %}</b></a></li>
            {% endwith %}
            <li><a href="#">Преимущества центра</a></li>
            <li><a href="#">Конгресс-центр</a></li>
            <li><a href="#">Выставочные павильоны</a></li>
            <li><a href="#">Рестораны и кафе</a></li>
            <li><a href="#">Мероприятия</a></li>
            <li><a href="#">Подбор помещения</a></li>
            <li><a href="#">Онлайн-заявка на организацию мероприятия</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="{% url 'filestorage:documents' %}">{% trans 'Документация' %}</a></li>
        </ul>
        <ul class="bottomlinkslist">
            <li><a href="{% url 'calendar:events' %}"><b>{% trans 'Календарь событий' %}</b></a></li>
        </ul>
        <ul class="bottomlinkslist">
            <li><a href="{{howto.get_absolute_url}}"><b>{% render_locale_title request howto %}</b></a></li>
        </ul>
        <ul class="bottomlinkslist">
            <li><a href="#"><b>План и инфраструктура комплекса</b></a></li>
        </ul>
    </div>
</div>