{% load block_render_tags i18n%}
<div class="container">
{% for item in bottom_navigation_menu.menu.all %}
    {% if forloop.first %}
    <div class="column3">
    {% endif %}
        <ul class="bottomlinkslist">
            <li>
                {% if item.menuitem.is_clickable %}
                    <a href="{{item.menuitem.url}}">
                        <b>{% render_locale_title request item.menuitem %}</b>
                    </a>
                {% else %}
                    <div>
                        <b>{% render_locale_title request item.menuitem %}</b>
                    </div>
                {% endif %}
            </li>
            {% for child in item.menuitem.children.all %}
            <li><a href="{{child.url}}">{% render_locale_title request child %}</a></li>
            {% endfor %}
        </ul>
    {% if forloop.last%}
    </div>
    {% elif forloop.counter|divisibleby:3 %}
    </div>
    <div class="column3">
    {% endif %}
{%endfor %}
</div>