{% load block_render_tags i18n %}
<div class="breadcrumbs">
    <ul>
        <li><a href="{% url 'index' %}">{% trans 'Главная' %}</a> / </li>
        {% if parentmenu == current_menuitem %}
        <li>
            {% if parent_menu.is_clickable %}<a href="{{parent_menu.url}}">{% endif %}
            {% render_locale_title request parent_menu %}
            {% if parent_menu.is_clickable %}</a>{% endif %} / 
        </li>
        {% endif %}
        <li>{% render_locale_title request current_menuitem %}</li>
    </ul>
</div>