{% load i18n %}
<footer>
    <div class="container">
        <div class="copyright">
            <a href="http://indev-group.ru/">{% trans 'Разработано в ИнДев Групп' %}</a>
        </div>
        <div class="footercontacts">
        {% if footer_block_content.info %}
            {{footer_block_content.info.phone}} <a href="mailto:{{footer_block_content.info.email}}">{{footer_block_content.info.email}}</a>
        {% endif %}
        </div>
        <div class="footersocial">
            <p>{% trans 'Экспофорум в соцсетях' %}:</p>
            <ul class="sociallinks">
                {% for item in footer_block_content.net.all %}
                    <li><a href="{{item.site}}" class="socialicon {{item.net_type}}"  target="_blank">{{item.net_type}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>