{% load i18n %}
{% load staticfiles %}
{% load block_render_tags %}
<header>
    <div class="container">
        <div class="headlogo">
            <a href="/"><img src="{% static "images/design/logo.png" %}" alt="ExpoForum"></a>
        </div>
        <div class="headcontacts">
        {% if header_block_content.info %}
            {{header_block_content.info.phone}} <a href="mailto:{{header_block_content.info.email}}">{{header_block_content.info.email}}</a>
        {% endif %}
        </div>
        <div class="rightsection">
            <div class="languageselect">
                <form action="{% url 'set_language' %}" method="post" id="languageselect">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path|strip_lang}}" />
                    <ul>
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <li{% if language.code == LANGUAGE_CODE %} class="active"{% endif %}>
                            <a href="#{{ language.code }}" class="languageicon {{ language.code }}">{{ language.name_local }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <input name="language" type="hidden" value="{{ language.code }}">
                </form>
                {% comment %}
                <script type="text/javascript">
                    $('form#languageselect').on("submit", function () {
                        var next = $(this).find("input[name=next]");
                        var lang = $(this).find("input[name=language]").val();
                        var re = /^(\/)(en|ru)(\/)*/;
                        if (next.val().match(re)) {
                            next.val(next.val().replace(re, "/"+lang+"/"));
                        }
                        else {
                            next.val("/"+lang+next.val());
                        };
                    });
                </script>
                {% endcomment %}
            </div>
            <div class="headersearch">
                <form class="" action="{% url 'base:search' %}" method="get">
                    <input type="search" name="keyword" value="" placeholder="{% trans 'Поиск по сайту' %}">
                    <button type="submit" class="headersearchbtn">{% trans 'Найти' %}</button>
                </form>
            </div>
            <div class="headmenu">
                <ul>                
                {% for item in header_block_content.menu.all %}
                    <li><a href="{{item.menuitem.url}}" >{% render_locale_title request item.menuitem %}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>