{% load staticfiles %}
<head>
    {% block seo %}
    <title>ExpoForum</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/fancyfields.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/jquery.jscrollpane.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/jquery-ui-1.10.4.custom.min.css" %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jcarousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fancyfields-1.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.mousewheel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jscrollpane.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    {% if LANGUAGE_CODE == 'ru' %}
    <script type="text/javascript" src="{% static "js/jquery.ui.datepicker-ru.js" %}"></script>
    {% endif %}
    {% if LANGUAGE_CODE == 'zh-cn' %}
    <script type="text/javascript" src="{% static "js/jquery.ui.datepicker-zh-cn.js" %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    <!--[if IE]>
        <link href="{% static "images/design/favicon.ico" %}" rel="icon" type="image/x-icon"/>
    <![endif]-->
    <link href="{% static "images/design/favicon.png" %}" rel="icon" type="image/png"/>
</head>