{% load block_render_tags %}
<nav class="mainnav">
    <ul class="mainnavlist">
    {% for item in main_navigation_block.menu.all %}
        <li>
            {% if item.menuitem.is_clickable %}
                <a href="{{item.menuitem.url}}" class="mainnavlink">
                    {% render_locale_title request item.menuitem %}
                </a>
            {% else %}
                <div class="mainnavlink">
                    {% render_locale_title request item.menuitem %}
                </div>
            {% endif %}
            {% if item.menuitem.children.all %}
            <ul class="mainnavsublist">
                {% for child in item.menuitem.children.all %}
                <li><a href="{{child.url}}">{% render_locale_title request child %}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}

    </ul>
</nav>