{% load block_render_tags %}
{% load staticfiles %}
<div class="middlecontentblock">
    <div class="promoblockspart">
        {% for banner in big_banners %}
        <div class="promoblock">
            <a href="{% render_locale_url request banner 'event_url' %}" target="_blank">
                <img src="{% render_locale_url request banner 'image_url' %}" alt="{{banner}}">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="newsbar">
        {% include 'partial/newsbar.html'%}
    </div>
    {% include 'partial/partners.html' %}
</div>