{% load block_render_tags i18n %}
<h3>{% trans 'Новости' %}</h3>
<ul class="newsbarlist">
    {% for page in list %}
        <li class="newsbaritem">
            <p><time>{{page.created}}</time></p>
            <p><a href="{{page.get_absolute_url}}" >{% render_locale_title request page %}</a></p>
        </li>
    {% endfor %}
</ul>
<div class="subscribeblock">
    <a href="{% url link %}" class="allnewslink newsicon">{% trans 'Читать все новости' %}</a>
</div>