{% load i18n %}
<div class="paginationblock">
    <ul class="pageslist">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Предыдущая' %}</a></li>
        {% endif %}
        {% if is_paginated %}
        {% for n in paginator.page_range %}
        {% if forloop.counter0 < 5 or forloop.last  or forloop.counter == page_obj.number %}
        <li><a href="?page={{n}}" {% ifequal n page_obj.number %}class="currentPage"{%endifequal%}>{{n}}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'Следующая' %}</a></li>
        {% endif %}
    </ul>
</div>