{% load block_render_tags i18n %}
<div class="partnersblock">
   <a href="{% url 'partners:partners' %}"><h3>{% trans 'Партнеры' %}</h3></a>
    <div class="partnersview" id="partners">
        <ul class="partnerslist">
        {% for item in partner_banners %}
            {% if not forloop.counter|divisibleby:"2" %}
            <li class="partnerscell">
            {%endif%}
                <a href="{% render_locale_url request item 'cur_site' %}" class="partnerbox" target="_blank">
                    <div class="partnerboxlogo" style="background-image:url({% render_locale_url request item 'image_url' %})">
                        <img src="{% render_locale_url request item 'image_url' %}" alt="{% render_locale_title request item %}">
                    </div>
                </a>
            {% if forloop.counter|divisibleby:"2" %}
            </li>
            {%endif%}
        {% endfor %}
        </ul>
    </div>
    <a href="#" class="partnersnav prev" id="prevslide">&lt;</a>
    <a href="#" class="partnersnav next" id="nextslide">&gt;</a>
</div>