<div class="topcontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        <div class="slidernav">
            <ul class="slidernavlist" id="slidernavlist">
                <li><a href="#" class="slidernavlink">Услуги для экспонентов</a></li>
                <li><a href="#" class="slidernavlink">КВЦ ЭкспоФорум</a></li>
                <li><a href="#" class="slidernavlink long">Организация мероприятий «под ключ»</a></li>
            </ul>
        </div>
    </div>
    <div class="slidercontent" id="promoslider">
        <ul class="slidercontentlist">
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider1.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider2.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider3.jpg" alt="E"></a></li>
        </ul>
    {% include 'partial/mainnav.html' %}
    <div class="infobannersblock">
        {% include 'partial/announcements.html' %}
        <div class="infobanner greenbanner">
            <img src="/static/images/banner1.jpg" alt="Агрорусь">
            <section class="infobannertext">
                <p><time>26 августа — 1 сентября</time></p>
                <h3>Агрорусь</h3>
                <p>XXII международная агропромышленная выставка-ярмарка. Специализированные экспозиции. Деловая программа...</p>
            </section>
        </div>
        <div class="infobanner lightbluebanner">
            <img src="/static/images/banner2.jpg" alt="Энергетический форум">
            <section class="infobannertext">
                <p><time>10 — 13 сентября</time></p>
                <h3>Энергетический форум</h3>
                <p>14-й Петербургский международный энергетический форум – конгрессно-выставочные мероприятия...</p>
            </section>
        </div>
        <div class="infobanner bluebanner" id="advanced">
            <img src="/static/images/banner3.jpg" alt="Петербургский Международный Газовый Форум 2014">
            <section class="infobannertext">
                <p><time>7 октября — 10 октября</time></p>
                <h3>Петербургский Международный Газовый Форум 2014</h3>
            </section>
        </div>
    </div>
</div>