{% load i18n %}
<div class="topcontentblock">
    {% include 'partial/topblock/slider.html' %}
    {% include 'partial/mainnav.html' %}
    <div class="infobannersblock">
        {% include 'partial/announcements.html' %}
        {% include 'partial/topblock/banners.html' %}
    </div>
</div>