{% load i18n %}
{% load block_render_tags %}
<div class="topsubmenu">
    <ul class="topsubmenulist">
        {% for item in side_navigation_menu.menu.all %}
        <li>
            <a href="{{item.menuitem.url}}" class="topsubmenulink">
                {% if item.menuitem.icon_url %}
                <i class="topsubmenuicon"><img src="{{item.menuitem.icon_url}}"></i>
                {% endif %}
                {% render_locale_title request item.menuitem %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>