{% extends 'base.html' %}


{% block top %}
{% endblock %}
{% block middle %}
<div class="block404">
    <div class="block404text">
        <p>Мы просим прощения,<br/>но страница не существует<br/>или была удалена.</p>
        <a href="/">Перейти на главную страницу</a>
    </div>
</div>
{% endblock %}