{% extends 'basecontent.html' %}

{% load block_render_tags i18n widget_tweaks %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            {#<p><a href="{% url 'organizers:halls' %}">← {% trans 'Вернуться к списку залов' %}</a></p>#}
            <h2>{% trans 'Онлайн-заявка на организацию мероприятия' %}</h2>
            <form class="reserverequest" method="post" action="">
                {% csrf_token %}
                <label>{{form.title.label}}</label>{{form.title.errors}}{{form.title}}
                <label>{{form.capacity.label}}</label>{{form.capacity.errors}}
                {% render_field form.capacity class+="niceselect" type="number" min="1" max="999999999999"%}
                <label>{% trans 'Дата проведения' %}</label>
                <div class="eventdate">
                    <label>{% trans 'С' %}</label>{{form.start_date.errors}}
                    {% render_field form.start_date class+="dateui white" autocomplete="off" %}
                </div>
                <div class="eventdate">
                    <label>{% trans 'По' %}</label>{{form.end_date.errors}}
                    {% render_field form.end_date class+="dateui white" autocomplete="off" %}
                </div>
                <div style="display:none;">{% render_field form.hall class="" %}</div>
                {{form.extra_need|add_class:"nicecheck"}}<label>{{form.extra_need.label}} {{form.extra_need.help_text}}</label>{{form.extra_need.errors}}
                <p class="advancennote">{% trans 'С полным списком дополнительных услуг можно ознакомиться в разделе' %}&nbsp;<a href="/current/flatpages/service/">«{% trans 'Услуги организаторам' %}»</a>.</p>
                <label>{% trans 'Ваше' %} {{form.contact_name.label|lower}}</label>{{form.contact_name.errors}}{{form.contact_name}}
                <label>{{form.contact_phone.label}}</label>{{form.contact_phone.errors}}{{form.contact_phone}}
                <label>{{form.contact_email.label}}</label>{{form.contact_email.errors}}{{form.contact_email}}
                <label>{{form.desc.label}}</label>{{form.desc.errors}}{{form.desc}}
                <button type="submit" class="bluebtn">{% trans 'Отправить заявку' %}</button>
            </form>
            <p>{% trans 'Наши менеджеры свяжутся с вами для уточнения деталей' %}</p>
        </div>
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}
