{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/topsubmenu.html' %}
        {% include 'partial/sidebar/bluebanner.html' with type=1 %}
        {% include 'partial/sidebar/banner.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock greentopblock">
            {# include 'partial/breadcrumbs.html' #}  
            <h2>{% trans 'Подбор зала' %}</h2>
            {% include 'partial/filters.html' %}
        </div>
        <div class="textblock">
            <ul class="roomslist">
                {% for room in object_list %}
                <li class="roomitem">
                    <h3>{% render_locale_title request room %}</h3>
                    <p class="roomsubtype">{% render_locale_title request room.house %}</p>
                    {% render_locale_content request room %}
                    {#<p><a href="#">На интерактивном плане →</a></p>#}
                    <div class="roomgallery">
                        <ul class="roomminipreviewlist">
                            {% for img in room.images.all %}
                            <li><a href="#"><img src="{{img.image.url}}" alt=""></a></li>
                            {%endfor%}
                        </ul>
                        <form action="" method="post" class="roomfastreserv">
                            <a class="bluebtn topmargin" href="{% url 'organizers:hall_order' %}?room={{room.pk}}">{% trans 'Заборнировать зал' %}</a>
                        </form>
                    </div>
                </li>
                {% empty %}
                <li>
                    {% include 'partial/empty.html' %}
                </li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}
