{% load block_render_tags%}
<div class="infobanner {{event.expotype.tag|default:'green'}}banner">
    <a href="{{event.site}}" target="_blank"><div class="infobannerimg" style="background-image:url({{event.image_url}})"><img src="{{event.image_url}}" alt="event"></div></a>
    <section class="infobannertext">
        <p><time>{{event.start_date}} — {{event.end_date}}</time></p>
        <h3>{% render_locale_title request event %}</h3>
        {% render_locale_content request event %}
    </section>
</div>