﻿{% extends 'basecontent.html' %}

{% load i18n block_render_tags widget_tweaks %}

{% block maincontain %}
<section>
    <div class="container">
        <div class="textblock">
        <h2>{% trans 'Календарь событий' %}</h2>
            <p class="gray">{% trans 'Начните вводить название события' %}</p>
            <form class="eventsearch" action="" method="get">
                <input type="search" name="keyword" value="" placeholder="Поиск по названию события, описанию">
                <button type="submit" class="searchbtnicon">{% trans 'Найти' %}</button>
                <button type="submit" class="bluebtn">{% trans 'Найти' %}</button>
            </form>
        </div>
        <div class="textblock">
            <h2>Календарь мероприятий</h2>
            <form class="eventsfilter" action="" method="get">
                <div class="calendar" id="datepicker"></div>
                {% render_field event_form.start_date type="hidden" autocomplete="off" %}
                <script type="text/javascript">
                    $('#datepicker').datepicker({
                        onSelect: function(date) {
                            $('#id_start_date').val(date);
                            $('form.eventsfilter').submit();
                        },
                        showOtherMonths:true
                    });
                </script>
            </form>
        </div>
        <div class="infobannersblock">
            {% if today_events %}
            <div class="accordion">
                <h3 class="accordiontitle">Сегодня</h3>
                <div class="accordiontext">
                    <ul class="bannerslist">
                        {% for event in today_events %}
                        <li>{% include 'mobile/event_block.html' with event=event %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if near_events %}
            <div class="accordion closed">
                <h3 class="accordiontitle">Ближайшие события</h3>
                <div class="accordiontext">
                    <ul class="bannerslist">
                        {% for event in near_events %}
                        <li>{% include 'mobile/event_block.html' with event=event %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}