{% extends 'basecontent.html' %}

{% load staticfiles %}
{% load i18n block_render_tags thumbnail %}

{% block maincontain %}
<section>
    <div class="container">
        <div class="textblock">
            <h2>{% render_locale_title request detail_page %}</h2>
        </div>
        {% if detail_page.autoblock %}
        <div class="accordion closed">
            <h3 class="accordiontitle">{% render_locale_title request detail_page.autoblock %}</h3>
            <div class="accordiontext">
                <div class="textblock">
                    {% if detail_page.autoblock.ru_image %}
                        {% thumbnail detail_page.autoblock.ru_image 320x200 upscale as thumb %}
                        <a href="{{detail_page.autoblock.ru_image.url}}" class="fancybox"><img src="{{thumb.url}}" alt=""></a>
                    {% endif %}
                    {% render_locale_content request detail_page.autoblock %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="accordion closed">
            <h3 class="accordiontitle">{% render_locale_title request detail_page.traffblock %}</h3>
            <div class="accordiontext">
                {% for accbl in detail_page.traffblock.acc_blocks.all %}
                    {% include 'partial/howto_traff_accblock.html' with value=accbl class='textblock' %}
                {% endfor %}
            </div>
        </div>
        <div class="accordion">
            <h3 class="accordiontitle">План территории</h3>
            <div class="accordiontext">
                <div class="textblock maps">
                    <p class="probki"><span class="lvl5 probkirate">5</span></p>
                </div>
                {% if detail_page.has_map %}
                <div class="mapblock">
                    <a href="#" class="resizelink orange">развернуть</a>
                    <div class="mappart" id="mappart"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block headextrascripts %}
{{block.super}}
    {% if detail_page.has_map %}
    <style>
        #mappart {
            width: 590px;
            height: 450px;
        }
    </style>
    {% if LANGUAGE_CODE == 'ru' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'en' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% elif LANGUAGE_CODE == 'zh-cn' %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=en_US" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var mylocation = [59.9, 30.32];
            var geolocation = ymaps.geolocation,
                myMap = new ymaps.Map('mappart', {
                    center: mylocation,
                    zoom: 10,
                    controls: ['fullscreenControl', 'searchControl', 'zoomControl', 'routeEditor'],
                });
            
            var actualProvider = new ymaps.traffic.provider.Actual({}, { infoLayerShown: true });
            actualProvider.setMap(myMap);

            navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                mylocation = [latitude, longitude];

                ymaps.route([
                    mylocation,
                    [59.76351, 30.35746]
                ]).then(function (route) {
                        myMap.geoObjects.add(route);
                        var points = route.getWayPoints(),
                        lastPoint = points.getLength() - 1;
                        points.options.set('preset', 'islands#blueStretchyIcon');
                        points.get(0).properties.set('iconContent', 'Вы здесь');
                        points.get(lastPoint).properties.set('iconContent', 'ЭКСПОФОРУМ');
                    }, function (error) {
                    alert('Возникла ошибка: ' + error.message);
                });
            });
        }
    </script>
    {% endif %}
    <script type="text/javascript">
        function get_probki_data() {
            var url = '{% url 'base:get_yandex_probki' %}'
            $.ajax({
                url: url,
                success: function( data ) {
                    $('p.probki').remove();
                    $('div.textblock.maps').append('<p class=\"probki\"><span class=\"lvl5 probkirate\">'+data+'</span>Уровень пробок в Санкт-Петербурге<br>по данным сервиса Яндекс.Пробки</p>')
                }
            });
        };
        $(document).ready(get_probki_data());
    </script>
{% endblock %}