{% load mptt_tags %}
{% load block_render_tags i18n %}

{% if subjects %}
    <div class="tabsblock">
        <ul class="tabscontrol">
            <li class="{% if not request.GET.subjects__pk%}active{% endif %}"><a href="{% url 'news:news_list' %}">{% trans 'Все' %}</a></li>
            {% for item in subjects %}
                    <li class="{% ifequal request.GET.subjects__pk|unicode2int item.pk %}active{% endifequal %}"><a href="{% url 'news:news_list' %}?subjects__pk={{item.pk}}">{% render_locale_title request item %}</a></li>
            {% endfor %}
        </ul>
        <ul class="tabsblockpages">
            <li class="tabsblockpage hidden {% if not request.GET.subjects__pk%}active{% endif %}">
            </li>
            {% for item in subjects %}
                    {% if item.get_children %}
            <li class="tabsblockpage {% ifequal request.GET.subjects__pk|unicode2int item.pk %}active{% endifequal %}">
                <form class="newsfilter" action="" method="get">
                    <div class="newscontrolgroup">
                        <label>{% trans 'Выберите по названиям' %}:</label>
                        <div class="multiselects">
                            <fieldset class="scroll-pane">
                            {% for page in item.get_pages %}
                                {% if page.event %}
                                <input type="checkbox" name="pk" value="{{page.pk}}" class="nicecheck" />
                                <label>{% render_locale_title request page.event %}</label>
                                {% endif %}
                            {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="newscontrolgroup">
                        <label>{% trans 'Выберите по тематике' %}:</label>
                        <div class="multiselects">
                            <fieldset class="scroll-pane">
                            {% for child in item.get_children %}
                                <input type="checkbox" name="subjects__pk" value="{{child.pk}}" class="nicecheck" />
                                <label>{% render_locale_title request child %}</label>
                            {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                </form>
            </li>
                    {% else %}
            <li class="tabsblockpage hidden">
                <form>
                    <input type="hidden" name="subjects__pk" value="{{item.pk}}" class="nicecheck" />
                </form>
            </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}