{% load widget_tweaks %}
<h1>{{ form.title }}</h1>
{% if form.intro %}
<p>{{ form.intro }}</p>
{% endif %}
<form action="{{ form.get_absolute_url }}" method="post"
    {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% for field in form_for_form %}
        {% if field|field_type == 'booleanfield' %}
            {{field.errors}}
            {% render_field field class+="nicecheck" %} {{field.label}}. {{field.help_text|safe}}
        {% elif field|field_type == 'datefield' %}
            <label>{{field.label}}:</label>{{field.errors}}
            {% render_field field class+="dateui white" autocomplete="off" %} {{field.help_text|safe}}
        {%else%}
            <label>{{field.label}}:</label>{{field.errors}}
            {% render_field field class+="niceselect" %}{{field.help_text|safe}}
        {%endif%}
    <div class="clear"><br/></div>
    {%endfor%}
    <div style="clear:left;">&nbsp;</div>
    <button type="submit" class="bluebtn">{{ form.button_text }}</button>
</form>
<div class="clear"><br/></div>