{% load block_render_tags i18n %}
<form class="topblockfilterform" action="{% url 'organizers:halls' %}" method="get">
    <div class="filtercontrolgroup">
        <h4>{% trans 'Количество человек' %}</h4>
        <select name="capacity" class="niceselect">
            <option value="">{% trans 'Любое' %}</option>
            {% for c in capacity %}
            <option value="{{c}}">{{c}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="filtercontrolgroup">
        <h4>{% trans 'Тип рассадки' %}</h4>
        <select name="seating_type" class="niceselect">
            <option value="">{% trans 'Любое' %}</option>
            {% for seating_type in seating_types %}
            <option value="{{seating_type.pk}}">{% render_locale_title request seating_type %}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="greenbtn topmargin" name="">{% trans 'Показать' %}</button>
</form>