﻿{% extends 'basecontent.html' %}

{% load block_render_tags i18n %}

{% block middle %}
<div class="middlecontentblock">
    {% include 'partial/sidebar.html' %}
    <div class="mainblock">
        <div class="textblock news">
            <h2><a href="{% url 'news:news_list' %}" style="color:#fff;text-decoration:none;">{% trans 'Новости' %}</a></h2>
            {% include 'partial/news_filter.html' %}
        </div>
        <div class="textblock">
            <ul class="newslist">
                {% for newspage in newspage_list %}
                <li class="newsitem">
                    <div class="newstimeblock">{% if newspage.show_date %}<time>{{newspage.created}}</time>{% endif %}</div>                    
                    <div class="newsitemtext">
                        <h3><a href="{{newspage.get_absolute_url}}" target="_blank">{% render_locale_title request newspage %}</a></h3>
                        {% render_locale_content request newspage %}
                    </div>
                </li>
                {% empty %}
                    <li class='newsitem'>{% trans 'Нет новостей' %}</li>
                {% endfor %}
            </ul>
            {% include 'partial/paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function() {
    function base_logic(event, th) {
        event.stopPropagation();
        var indextab = th.parent().index();
        th.parent().siblings().removeClass('active');
        th.parent().addClass('active');
        th.parent().parent().parent().find('.tabsblockpage:eq('+indextab+')').addClass('active').siblings().removeClass('active');
    };
    $('.tabscontrol > li > a').on("click", function(event){
        base_logic(event, $(this));
        event.preventDefault();
        var link = $(this);
        if (link.attr('href')) {
            var params = link.attr('href').split('?')[1];
            get_news_data(params);
        }
    });
    $('ul.pageslist').on("click", 'a', function(event){
        //event.stopPropagation();
        event.preventDefault();
        var link = $(this);
        if (link.attr('href')) {
            var params = link.attr('href').split('?')[1];
            get_news_data(params);
        }
    });
    $('.newsfilter input[type=checkbox]').fancyfields({
        onCheckboxChange: function (input, isChecked) {
            input.closest('form').submit();
        }
    });
    $('form.newsfilter').on("submit", function(event){
        base_logic(event, $(this));
        event.preventDefault();
        var params = $(this).serialize();
        if (params) {
            get_news_data(params);
        }
    });
    function get_news_data(params) {
        var url = '{% url 'news:api_news_list' %}'
        if (params) {
            url = url + '?' + params;
        }
        $.ajax({
            url: url,
            success: function( data ) {
                set_news(data);
            }
        });
    };

    function set_news(data) {
        set_pagination(data);

        var newslist = $('ul.newslist')
        newslist.empty();
        if (data.results.length > 0) {
            $.each(data.results, function (index, element) {
                var created = '';
                if (element.show_date) {
                    created = element.created;
                }
                newslist.append('<li class=\"newsitem\"><div class=\"newstimeblock\"><time>'+created+'</time></div><div class=\"newsitemtext\"><h3><a href=\"'+element.url+'\" target=\"_blank\">'+element.title+'</a></h3>'+element.content+'</div></li>')
            });
            $("a.fancybox").attr('rel', 'gallery').fancybox();
        }
        else {
            newslist.append('<li class=\"newsitem\">'+'{% trans 'Нет новостей' %}'+'</li>')
        };
    };

    function set_pagination(data) {
        var paginator = $('ul.pageslist');
        paginator.empty();
        if (data.pages.length > 1) {
            if (data.previous) {
                var href = data.previous.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Предыдущая' %}'+'</a></li>');
            };
            if (data.pages && data.viewable_pages) {
                set_paginator_pages(data, paginator);
            };
            if (data.next) {
                var href = data.next.split('?')[1];
                paginator.append('<li><a href=\"?'+href+'\">'+'{% trans 'Следующая' %}'+'</a></li>');
            };
        };
        $('.pageslist a').click(function(e){
            $('.middlecontentblock').ScrollTo({offsetTop: 100});
        });
    }
});
</script>
{% endblock %}
