{% load i18n block_render_tags%}
<div class="textblock eventblock {{event.expotype.tag|default:'green'}}">
    <div class="eventrightblock">
        <span class="eventtag">{% render_locale_title request event.expotype %}</span>
        {% get_locale_attr_val request event 'site' as event_site %}
        <a href="{{event_site}}" target="_blank"><img src="{% render_locale_url request event 'image_url' %}" alt="event"></a>
    </div>
    <div class="eventleftblock">
        <div class="eventheader">
            <time>{{event.start_date}} — {{event.end_date}}</time>
            <b>{% trans 'Добавить событие' %}: </b>
            <a href="{% url 'calendar:event_ics' event.slug %}">{% trans 'в Outlook' %}</a><br/>
            <a href="{% url 'calendar:event_ics' event.slug %}">{% trans 'в Google-календарь' %}</a>
        </div>
        <div class="eventanounce">
            <h3>{% render_locale_title request event %}</h3>
            {% render_locale_content request event %}
        </div>
        <div class="eventinfo">
            {% get_locale_attr_val request event 'venue' as event_venue %}
            <p><b>{% trans 'Место проведения' %}:</b> {{event_venue}}</p>
            {% get_locale_attr_val request event 'org' as event_org %}
            <p><b>{% trans 'Организатор' %}:</b> {{event_org}}</p>
            <p><b>{% trans 'Сайт выставки' %}:</b> &nbsp;<a href="{{event_site}}"  target="_blank">{% trans 'перейти' %}</a></p>
            {% get_locale_attr_val request event 'reglink' as event_reglink %}
            <a href="{{event_reglink}}" class="registerbtn" target="_blank">{% trans 'Зарегистрироваться' %}</a>
        </div>
    </div>
</div>